nav{
    display: block;
    width: 100%;
    background-color:#2E2957;
    font-size: 18px;
    color:white;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    padding:0;

}
nav ul > li{
    display: inline-block;
    width: 500px;
}
nav ul > li > a {
    border-bottom:6px solid transparent;

    display: inline-block;
    margin-right: 18px;
    padding: 29px 6px 26px 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Avenir_Light";
    text-decoration: none;
    color:white;
}

nav ul > li:last-child > a{
    margin-right: 0;
}

nav ul > li > a:hover{
   /* border-bottom:6px solid #41C98E;*/

}

.menu-active{
    border-bottom:6px solid #41C98E;
    font-family: "Avenir_Medium";
}
  li{
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
  }
nav h1 {
    margin:0px;
    display: inline-block;
    font-family: "Avenir_Black";
    font-size:32px;
}

.menu-settings{
    margin-bottom:5px;
    font-family: "Avenir_Roman";
    display:inline-block;
    cursor: pointer;
    color:#C0BFCC;
}
.menu-settings svg{
    vertical-align: bottom;
}
nav ul { ... min-height:50px; } /* < add */

.menu-wrapper{
    margin: 0 auto;
    max-width: 1024px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding:0 42px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
}

.section-dashboard{
    max-width:1024px;
    margin:20px auto;
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
    -webkit-column-gap:0;
    -moz-column-gap:0;
    column-gap:0;
}
.section-dashboard article{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 5px;
    box-sizing: border-box;
}
.section-dashboard article > div{
    padding:15px;
    box-sizing: border-box;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;

    width: auto;
    min-height: 200px;
    background-color:white;
    border: 1px solid #E3E2E7;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;

    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}


.section-dashboard article div p{
    margin:0;
    margin-bottom:5px;
}

.card-title{
    font-family: "Avenir_Heavy";
    font-size:18px;
    color:#2C2B57;
}

.card-subtitle{
    font-family: "Avenir_Roman";
    font-size:13px;
    color:#2C2B57;

}

.fat-emphasis{
    font-size:40px;
}

.section-dashboard article .wistjedat{
    height:120px !important;
    background-color:#3480C7;
    min-height: 0;
    color:white !important;
}
.wistjedat p{
    color:white;
}


.section-services{
    max-width:1024px;
    margin:0 auto;
    background-color:red;
    height: 50px;
}
/* tables */
.services-table{
    width:100%;
    margin:0;
    padding:0 ;
    border-spacing: 0;
}

.services-table tr{
    text-align: left;
    border: 5px solid black;
}

.services-table tr td {
    border: 1px solid black;
}

.table-row-monthly{
    background-color: #E3E2E7;
    height:60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table-row-monthly th:first-child{
    padding-left:30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.table-row-monthly th:last-child{
    padding-right:30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#h{
    position:relative;
    display:block;
}
#test{
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    width:100%;
    height:100%;
    top:0;
    left:0;
    flex-direction:column;
}
#test p {
    font-family: Avenir_Light;
}
#test span{
    font-size:26px;
    font-family: Avenir_Medium;
    color:#2C2B57;
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .section-dashboard.section-dashboard {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        margin-top:55px;
    }

    nav {
        position: fixed;
        top:0;
        z-index: 1337;
    }

    nav ul {
        display: none;
    }

    nav .menu-settings {
        display: none;
    }

    nav h1 {
        margin:0 auto;
        padding: 15px 0;
        font-size: 18px;
    }





}