.section-page{
  width: 70vw;
  margin: 0 auto;
    display: flex;
  position: relative;
}

h3{
  font-family: 'Avenir_Roman';
  font-size:18px;
  margin: 0 0 30px 0 ;
  color: #2C2B57;
  text-align:center;
  font-weight: normal;
}

.schedule__dialog{
  text-align: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.schedule__dialog__form--disabled {
  filter: grayscale(0.8);
}

.schedule__dialog__form{
    border: 1px solid #2E2957;
    margin-top: 207px;
  background-color: white;
  box-sizing: border-box;
  color:white;
}

.schedule__dialog__collect{
  border: 1px solid #2E2957;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  color:white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  position:relative;
}

.schedule__dialog h3{

}

.schedule__dialog__form__controls{
  display: flex;
  justify-content: center;
}

.schedule__dialog__form--input{
  font-family: 'Avenir_Heavy';
  font-size: 16px;
  color: #2C2B57;
  padding: 10px;
  border: 1px solid #D5D4DD;
  background-color: #FEFEFE;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
  height: 40px;
  width: 300px;
}

.schedule__dialog__form--input:hover{
  box-shadow: 0px 1px 3px #999999;
}

.schedule__dialog__form--input:focus{
  box-shadow: 0px 1px 3px #999999;
}

.schedule__dialog__form--submit{
  padding: 8px 22px;
  box-sizing: border-box;
  color: white;
  font-family: 'Avenir_Black';
  background-color: #D5D4DD;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  height: 40px;
  margin-top: 25px;
}

.submit-disabled{
  background-color: #D5D4DD;
}

.submit-enabled{
  background: #2E2957;
}

.schedule__dialog__collect--option{
  font-family: 'Avenir_Heavy';
  color: #2E2957;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.schedule__dialog__collect--option:hover{
  background-color: #D5D4DD;
}

.schedule__dialog__collect--option span{
  margin-top: 15px;
}


.schedule__dialog__collect__options{
  display: flex;
}






.schedule__dialog___form--delete{
  border: 1px solid #2E2957;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  color:white;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.error__message{
  position: fixed;
  top: 0;
  text-align: center;
  margin: 0 auto;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  z-index: 999;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
    background: rgba(0,0,0,0.2);
}

.error__message--inner{
  width: 50%;
  flex-direction: column;
  justify-content: center;
  background: white;
  padding: 15px;
  box-sizing: border-box;
}

.flex-col{
  flex-direction: column;
}

.no-margin{
  margin:0;
}

.margin-bottom{
  margin-bottom: 15px;
}

.red-border{
  border: 2px solid #d53d4c;
}

.schedule__dialog__form--add__collect{
  text-align: center;
  vertical-align: center;
  background-color: #41C98E;
  font-weight: bolder;
  border: none;
  padding: 8px 22px;
  box-sizing: border-box;
  color: white;
  font-size: 19px;
  font-family: 'Avenir_Black';
}

.schedule__dialog__form--add__collect:active{
  box-shadow: 0 2px #999;
  transform: translateY(-2px);
}

.schedule__dialog__form--delete__collect{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #b91a24;
  border: none;
  box-shadow: 0px 2px 2px #999999 ;
  color: #FFFFFF;
  font-family: 'Avenir_Black';
  font-weight: bold;
  padding-bottom: 4px;
  margin-left: 35px;
}

.schedule__dialog__form--delete__collect:hover{
  box-shadow: 0px 4px 2px #999999 ;
  transform: translateY(-2px);
  cursor: pointer;
}

.schedule__dialog__form--delete__collect:active{
  box-shadow: 0px 2px 2px #999999 ;
  transform: translateY(2px);
}

.schedule__dialog .ui-inputtext{
  font-family: 'Avenir_Heavy';
  font-size: 16px;
  color: #2C2B57;
  padding: 5px;
  border: 1px solid #D5D4DD;
  background-color: #FEFEFE;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
  width: 80px;
  text-align: center;
  border-radius: 0;
}

.schedule__dialog .ui-timepicker, .schedule__dialog .ui-datepicker{
  width: 80px;
}

.fc-today{
  color:transparent;
}

.balloon{
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  color:white;
  z-index: 10000;
  border-radius: 3px;
  background-color: #2C2B57;
  box-shadow: 1px 1px 3px #888888;
  font-family: 'Avenir_Light';
  text-align: center;

}
.balloon:after{
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #2C2B57;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.balloon_alter{
  background-color: #1CA96C;
}

.balloon_alter:after{
 border-top-color: #1CA96C;
}

.fat-font{
  font-family: 'Avenir_Heavy';
}

.schedule__dialog__form__input{
  position: relative;
}

.schedule__dialog__form__list{
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: left;
  color: #999999;
  list-style: none;
  background-color: #F8F8F8;
  font-family: Avenir_Light;
  padding: 0;
  margin:0;
  overflow: hidden;
  z-index: 999999999;
    left: 0;
}

.schedule__dialog__form__listitem{
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.schedule__dialog__form__listitem:hover{
  cursor: pointer;
  background-color: #DDDDDD;
}

.autocomplete{
  font-family: 'Avenir_Heavy';
  color: #2C2B57;
}

.schedule__dialog__form__amount{
  font-family: Avenir_Heavy;
  color: #2C2B57;
  display: inline-block;
  margin-right: 15px;
  width: auto;
}

.wrapping_inputlist {
  display: inline-block;
  position: relative;
}

.assign__button{
  margin: 20px 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
}

.assign-green-button{
  cursor: pointer;
  background: #1CA96C;
  background-image: url(/images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 41px;
  color: white;
  padding: 15px;
  border-radius: 3px;
  border: none;
  margin-left: 10px;
}

.assign-green-button:disabled{
  cursor: not-allowed;
  background: #999999;
  background-image: url(/images/check.png);
  background-position: center;
  background-repeat: no-repeat;
}

.allocation__input{
  font-family: 'Avenir_Heavy';
  font-size: 16px;
  color: #2C2B57;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #E3E2E7;
  background-color: white;
}

.showElement {
  opacity: 1;
  visibility: visible;
}

.close-button{
  opacity: 0.8;
  border:0;
  background: 0;
  position: absolute;
  color: #2E2957;
  top: 0;
  right: 0;
  margin: 0;
  padding: 15px;
  cursor: pointer;
}

.close-button:hover, .close-button:focus {
  opacity: 1;
}

.tab__element {
  cursor: pointer;
  display: inline-block;
  font-family: Avenir_Light;
  color: #2E2957;
  border-bottom: transparent 6px solid;
  font-size: 20px;
  padding: 10px 8px;
  box-sizing: border-box;
}

.tab__element--active {
  font-family: Avenir_Heavy;
  border-bottom-color: #1DA96C;
}

.info-table {
  flex: 1 1 100%;
}

.info-table__row {
  height: 90px;
}

.info-table__row--no-border {
  border-bottom-color: transparent;
}

.info-table__table {
  width: 100%;
  font-family: Avenir_Medium;
  font-size: 17px;
  color: #2E2957;
  background: #F5F5F5;
  padding: 0 20px;
}

.incasso-state {

}

.incasso-state > span {
  flex: 0 0 100%;
}

.incasso-bar-wrapper {
  position: relative;
  width: 100%;
  height: 10px;
}

.incasso-bar {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  display: inline-block;
  height: 10px;
  background: rgba(155,155,155,0.25);
  border-radius: 6px;
}

.incasso-bar--not-full {
  width: 33%;
  background: #2E2957;
}

.info-table__input {
  height: 100%;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  font-family: Avenir_Medium;
  font-size: 17px;
}

.info-table__input--false {
  border-color: #b91a24;
}

.info-table__input:focus {
  border-color: #2E2957;
}

.info-table__button {
  cursor: pointer;
  height: 100%;
  border: 0;
  background: #2E2957;
  opacity: 0.95;
  padding: 0 20px;
  color: white;
  font-size: 18px;
  font-family: Avenir_Heavy;
}

.info-table__button:focus, .info-table__button:hover {
  opacity: 1.0;
}



.heavy-text {
  font-family: Avenir_Heavy;
}

.light {
  font-family: Avenir_Light;
}

.heavy-text--nok {
  color: rgba(44,43,87,0.25);
}

.heavy-text--ok {
  color: #1CA96C;
}

.wrapper-amounts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.info-table__row > td {
  border-bottom: 1px solid rgba(44,43,47,0.25);
}

.info-table__row td:nth-child(2) {
  max-width: 250px;
}

.info-table__row:last-child > td {
  border: none;
}

.green-color {
  color: #1CA96C;
}

.red {
  color: #b91a24;
}

.grey {
  color: #888888;
}



.info-table__button--disabled {
  opacity: 0.5;
  /*background: #918FA6;*/
  cursor: not-allowed;
}

.info-table__button--disabled:hover {
  opacity: 0.5;
}

.info-table__button--danger {
  background: #b91a24;
}

.info-table__button--hidden {
  visibility: hidden;
}

.dialog-button-container {
  float: right;
  padding: 15px;
  box-sizing:border-box;
}

.dialog-button-container button {
  margin-right: 15px;
}

.dialog-button-container button:last-child {
  margin-right: 0;
}

.bullet {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 50%;
  vertical-align: middle;
}

.bullet--blue {
  background: #2C2B57;
}

.bullet--green {
  background: #1CA96C;
}

.bullet--red {
  background: #b91a24;
}

.bullet--grey {
  background: #888888;
}

.incasso-state-table {
  text-align: left;
  font-family: Avenir_Light;
  border-collapse: collapse;
  margin-top: 15px;
  min-width: 375px;
}

.incasso-state-table td {
  padding: 7px 5px;
}

.incasso-state-table__row--em td{
  font-family: Avenir_Heavy;
  border-top: 2px solid #2C2B57;
  padding-top: 10px;
}

.incasso-state-table__row--disabled {
  opacity: 0.5;
}

.error-wrapper {
  width: 750px;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.info-table__input--readonly {
  background: transparent;
  border:0;
}

.info-table-cell--money{
  text-align: right;
}

.info-table__row > td:first-child {
  width: 70px;
  text-align: left;
  padding-left: 10px;
}

.list-collections {
    background: white;
    border: 1px solid #2E2957;
    box-sizing: border-box;
}

.list-collections > div {
    border-bottom: 1px solid #d9d9d9;
    padding: 15px 0;
    box-sizing: border-box;
}

.list-collections > div:last-child {
    border-bottom: none;
}

.active-list-collection {
    background: #E3E2E7;
}

.fill-green {
    background: #1CA96C !important;
}

.sidebar-collection {
    display: block;
    flex: 0 0 450px;
    padding: 0 0 0 50px;
    margin-top: 208px;
}

.sidebar-collection-popup {
    margin-top: 20px;
    top: 50px;
    position: sticky;
    margin-bottom: -1000px;

}

.upload-csv{
  padding-bottom: 12px;
  flex-direction: column;
  display: flex;
  width: fit-content;
  float: right;
}


.csv-cell {
  text-align: right;
  display: table-cell;
  font-family: "Avenir";
  font-size: 12px;
}


.upload-csv-button{
  padding: 8px 22px 8px 22px !important;
  box-sizing: border-box;
  color: white;
  font-family: 'Avenir_Black';
  background-color: #2C2B57;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.csv-download-example {
  cursor: pointer;
}
.download-csv-button{
  padding: 8px 22px;
  box-sizing: border-box;
  color: white;
  font-family: 'Avenir_Black';
  background-color: #2C2B57;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.upload-csv-button:hover{
  background-color: #41c98e;
}

.upload-csv-uploaded{
    color: #1CA96C !important;
}

.upload-csv-error{
    color: #B91A24 !important;
}

.allocation-list{
    font-family: Avenir;
    list-style-type: none;
    text-align: center;
    color: #2E2957;
    font-weight: bold;
}

.input-csv-file{
    padding-left: 15px;
    box-sizing: border-box;
    font-family: 'Avenir_Black';
    color: #2C2B57;
    border: 0;
    font-size: 15px;
    transition: 0.3s;
    border-radius: 3px;
}

.mobile-calendar {
    display: none;
}

.mobile-visible {
    display: none;
}

@media only screen and (max-width : 1366px) {
    .sidebar-collection {
        padding-left: 20px;

    }
}

@media only screen and (max-width : 376px) {
    .hide-me {
        display: none;
    }
}

@media only screen and (max-width : 480px) {
    .info-table-cell--money {
        white-space: nowrap;
    }
    .info-table__input {
        width: 100%;
        height: 40px;
    }
    .mobile-calendar__arrow--dark {
        border-left-color: #2E2957 !important;
    }
    .mobile-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wrapping_inputlist {
        display: flex;
        justify-content: center;
    }
    .set-hidden-assigncollectinput {
        display: none;
    }
    .mobile-visible {
        display: block;
    }
    .assign__button {
        padding: 20px 10px;
        background-color: #E3E2E7;
        color: #2E2957;
    }
    .mobile-hidden {
        display:none;
    }
    .mobile-calendar {
        display: block;
        background: white;
        margin-bottom: 80px;
    }

    .incasso-state-table {
        min-width: 100%;
    }

    .sidebar-collection {
        display: none !important;
    }

    #calendar {
        opacity: 0;
    }

    #calendar > div {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }


    .mobile-calendar__table {
        width: 100%;
        border-collapse: collapse;
    }

    .mobile-calendar__header {
        display: flex;
        height: 44px;
        background-color: #2E2957;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-calendar__header-title {
        font-family: Avenir_Heavy;
        font-size: 15px;
        color:white;
    }

    .mobile-calendar__status {
        display: inline-block;
        width: 30px;
        height: 50px;
        border-radius: 4px;
        background-color: black;

    }

    .mobile-calendar__calendar-icon {
        width: 45px;
        height: 45px;
        border-radius: 4px;
        display: inline-block;
        box-shadow: 0px -5px 0px 0px #2E2957;
        background: #EFEFF4;
        font-family: Avenir_Heavy;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transform: translateZ(0);
    }

    .mobile-calendar__row {
        height: 70px;
    }

    .mobile-calendar__row td {
        border-bottom: 1px solid #A19FB5;
    }

    .mobile-calendar__day {
        width: 45px;
        padding-left: 15px;
    }

    .mobile-calendar__period {
        font-family: Avenir_Heavy;
        font-size: 16px;
        text-align: center;
    }

    .mobile-calendar__popup {
        position: unset;
        margin-bottom: unset;
    }

    .mobile-calendar__status--ok {
        background: #1DA96C url("/images/check.svg") center no-repeat;
    }

    .mobile-calendar__status--nok {
        background: #F16F56 url("/images/question_mark.svg") center no-repeat;
    }

    .mobile-calendar__header-navigation {
        font-family: Avenir_Light;
        font-size: 12px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        height: 100%;
    }

    .mobile-calendar__arrow {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        display: block;
    }

    .mobile-calendar__arrow--left {
        border-right:8px solid white;
        margin-right: 10px;
    }

    .mobile-calendar__arrow--right {
        border-left:8px solid white;
        margin-left: 10px;
    }

    .section-page {
        width: 100vw;
        font-size: 10px;
    }
    h2{
        font-size: 14px;
    }

    .sidebar-collection-popup {
        margin-left: unset;
        margin-top: unset;
        margin-left: unset;
        top: unset;

    }
    .upload-csv-button {
      display: none;
    }
    .download-csv-button {
      display: none;
    }
}


.csv-popup-overlay{
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
  opacity: 0.5;
  display:flex;
  justify-content: center;
  align-items: center;
}

.csv-popup-info {
  background: lightgray;
  height: fit-content;
  width: fit-content;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 10px 50px;
  z-index: 1001;
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 460px;
  border-radius: 4px;
  webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}
.csv-popup-info p {
  font-family: Avenir
}

.csv-success-mark {
}

.csv-popup-close {
  margin-right: -25px;
}

.csv-popup-hide {
  display: none !important;
}

.csv-popup-show {
  display: flex !important;
}

.input-csv-file {
  padding: 15px;
}

.btn-csv {
  height: 50px;
  text-decoration: none;
  padding: 12px 22px 10px 22px;
  align-self: flex-end;
}

.download-csv{
  text-align: left;
  margin-bottom: 16px;
}

.assign-csv-table {
  width: 100%
}
.assign-csv-table tr td {
  width: 33% !important;
  text-align: center;
}

.sidebar-csv-box {
  background: white;
  border: 1px solid #2E2957;
  box-sizing: border-box;
}
.sidebar-csv-box-inner{
  overflow: overlay;
  max-height: 400px;
}

.sidebar-csv-box-header {
  display: inline-flex;
    align-items:  center;
    padding-left: 20px;
}
.sidebar-csv-box-header p {
  font-family: 'Avenir'
}

.sidebar-csv-box-header svg {
  margin-right: 10px !important;
  margin-top: -8px;
  position: absolute;
  right: 0;
}

.btn-csv-readmore {
  color: white;
  background: #d53d4c;
  font-family: 'Avenir';
  font-size: 16px;
  padding: 10px 15px;
  margin-right: 20px;
}

.csv-list {
  background: #f5f5f5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.csv-list li {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;
}

.csv-list li:not(:last-of-type) {
  border-bottom: 1px solid #2E2957;
}
.csv-list li svg  {
  margin-left: 20px;
  margin-right: 15px;
}
.csv-list li button  {
  margin-left: 20px;
  margin-right: 15px;
}

.csv-list li p {
  font-family: 'Avenir';
  font-size: 12px;
}

.csv-line-close {
  color: #d53d4c; 
}

.csv-box-item {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar-csv-box-footer {
  font-family: 'Avenir';
  display: inline-flex;
    align-items:  center;
    border-top: 1px solid #2E2957;
    width: 100%;

}
.sidebar-csv-box-footer p {
  padding-left: 20px;
}

.csv-not-uploaded-name {
  font-size: 16px;
}

.deleteAlloc {
  font-family: 'Avenir';
  padding: 8px;
  background: #2e2957;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.alloc-actions-btn{
  font-family: 'Avenir';
  color: #2e2957;
  background: white;
  height: 44px;
  text-align: left;
  font-family: Avenir;
  align-items: center;
  display: flex;
  padding: 0 10px;
}

.alloc-actions-container {
  margin-top: 44px; 
  border: 1px solid #2e2957; 
  position: absolute;
  right: 4px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.alloc-actions-container span:first-of-type {
  border-bottom: 1px solid lightgray;
}

.alloc-givt-count {
  font-family: Avenir_Light;
  display: flex;
  flex-direction: row;
  align-items:  center;
  margin-left: 15px;
  background: #347dd7;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
  padding: 11px 16px;
}
.alloc-givt-count svg {
  height: 22px;
  margin-right: 4px;
}
.alloc-givt-count span {
  padding-left: 5px;
  padding-top: 5px;
  font-family: 'Avenir_Medium';
  color: white;
}
.input-border-green {
  border: 1px solid green;
}
.input-border-red {
  border-color: #b91a24;
}

.alloc-loader {
  background: #2C2B57;
  box-sizing: unset;
  padding: none;
  border: none;
  margin: none;
  position: absolute;
  width: 100%;
  z-index: 2;
}