.section-collects{
    width: 800px;
    margin: 0 auto;
}

.section-collects h2{
    margin: 30px 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
}

.section-collects h3{
    font-family: 'Avenir_Roman';
    font-size:18px;
    margin: 0 0 30px 0 ;
    color: #2C2B57;
    text-align:center;

}

.collects-pickdate{
    display: flex;
    justify-content: space-between;
}

.input-date{
    width: 380px;
    display: block;
}

.search-collect{
    padding: 8px 22px;
    box-sizing: border-box;
    margin: 40px 0;
    color:white;
    font-family: 'Avenir_Black';
    background-color:#2C2B57;
    border:0;
    font-size: 18px;
    display: block;
    margin-left:auto;
    transition: background-color 0.5s;
    cursor:pointer;

}

.search-collect:hover{
    background-color: #C0BFCC;
}

.show-collect{
    font-size:16px;
    font-family: 'Avenir_Heavy';
    color: #2C2B57;
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    align-items: center;
}

.show-collect span{
    display: block;
}

.show-collect .time{
    font-family:"Avenir_Roman";
    font-size:12px;
}

.collect-hr{
    border:0;
    border-bottom: 1px solid #E3E2E7;
    max-width: 960px;
}