.section-collects{
    width: 800px;
    margin: 0 auto;
}

h2{
    margin: 30px 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
    font-weight: normal;
}

h3{
    font-family: 'Avenir_Roman';
    font-size:18px;
    margin: 0 0 30px 0 ;
    color: #2C2B57;
    text-align:center;
    font-weight: normal;

}

.collects-pickdate {
    display: flex;
    justify-content: space-between;
}

.input-date{
    width: 380px;
    display: block;
}

.search-collect{
    padding: 8px 22px;
    box-sizing: border-box;
    margin: 40px 0;
    color:white;
    font-family: 'Avenir_Black';
    background-color:#2C2B57;
    border:0;
    font-size: 18px;
    display: block;
    margin-left:auto;
    cursor:pointer;
}

.search-collect:active{
    background-color: #C0BFCC;
}

.show-collect{
    font-size:16px;
    font-family: 'Avenir_Heavy';
    color: #2C2B57;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-collect span{
    display: block;
}

.show-collect .time{
    font-family:"Avenir_Roman";
    font-size:12px;
}

.collect-hr{
    border:0;
    border-bottom: 1px solid #E3E2E7;
    max-width: 960px;
    margin: 30px auto;
}

.save-collect{
    margin:0;
}

.collects-list{
    margin: 0 auto;
    display: block;
    width: 800px;
}

button:disabled{
    background: gray;
    cursor: auto;
}
.input-collect-title{
    font-family: 'Avenir_Heavy';
    font-size:16px;
    color: #2C2B57;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #E3E2E7;
    margin-bottom: 8px;
    cursor:pointer;
}

.input-collect-title:hover{
    background: white url(images/pencil.svg);
    background-position: 95% 50%;
    background-repeat:no-repeat;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Avenir_Light';
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Avenir_Light';
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Avenir_Light';
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Avenir_Light';
}

.collects-list .show-collect{
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.collection-buttons{
    display: none;
}

.collects-list .show-collect{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-left:10px;
    padding-right:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
}

.collects-list .show-collect:hover{
    /*background-color: #FFFFFF;*/
    border-top: 1px solid #2C2B57;
    border-bottom: 1px solid #2C2B57;
}

.collects-list .show-collect:hover .collection-buttons{
    display: block;
}

.collection-buttons button{
    border:0;
    background-color: #2C2B57;
    color:white;
    width: 40px;
    height: 40px;
    cursor:pointer;
    margin-left: 15px;
}

