.invalid-row {
    color: red;
}

.roster-form {
    .roster-controls {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-top: 20px;
        button { 
            padding-left: 20px;
            padding-right: 25px;
            background-color: #2E2957;
            color: white;
            i { 
                margin-right: 16px;
            }
        }
    }
    .roster-body {
        .roster-header {
            height: 30px;
            background: #41C98E;
            color: white;
            font-family: Avenir_Medium;
            display: flex;
            padding: 0;
            margin: 0;
            border: 1px solid #2E2957;
            border-radius: 4px 4px 0 0;     
            div {
                text-align: left;
                align-self: center;
                border-right: 1px solid #2E2957;
            }
        }
        .roster-container{
            max-height: 70vh;
            overflow: auto;
            border: 1px solid #2E2957;
            border-radius: 0 0 4px 4px;
            border-top: none;
        
            .roster-row {
                height: 30px;
                margin: 0;
                padding: 0;
                color: #2E2957;
                font-family: Avenir;
                border-bottom: 1px solid #2E2957;
                
                input {
                    height: 30px;
                    background: none;
                    border: none;
                    border-right: 1px solid #2E2957;
                }
                .custom-select {
                    line-height: 1.5;
                    color: #2E2957;
                    font-family: Avenir;
                    vertical-align: middle;
                    outline: 0px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .custom-select-sm {
                    height: 30px;
                    padding-top: .375rem;
                    padding-bottom: .375rem;
                    background-color: initial;
                    border: none;
                    border-radius: 0px;
                    border-right: 1px solid #2E2957;
                    border-bottom: 1px solid #2E2957;
                }
                .row-control { 
                    display:flex;
                    justify-content: space-around;
                    align-items: center;
                    height: stretch;
                    padding-left:0; 
                    padding-right: 0;
                    
                    .row {
                        .row-control-sub {
                            display: flex;
                            justify-content: center;
                            padding-left:0; 
                            padding-right: 0;
                        }
                        i {
                            cursor: pointer;
                            align-self: center;
                        }
                        :nth-child(1) {
                            i {
                                color: #41C98E;
                            }
                        }
                        :nth-child(2) {
                            i {
                                color: #2E2957
                            }
                        }
                        :nth-child(3) {
                            i {
                                color: #b91a2b;
                            }
                        }
                    }
                }
            }
            .roster-row:last-of-type {
                border: none;

                .custom-select {
                    outline: 0px;
                }

                .custom-select-sm {
                    border-bottom: none;
                }
            }
            .roster-row:hover {
                background: lightgrey;
                select {
                    background: lightgrey;
                }
            }
        }
    }
    .roster-footer {
        margin-top: 20px;
        font: 16px 'Avenir_Light';
        color: red;
    }
    .roster-controls {
        a {
            text-decoration: none;
            font: 20px 'Avenir_Black';
            color: #2E2957;
        }
    }
}
.givt-red {
    color: #b91a2b;
}
.givt-orange {
    color: #FFb12A
}
.givt-green { 
    color: #1CA96C;
}
.givt-lightgreen { 
    color: #41C98E;
}
.givt-purple { 
    color: #5A5387
}
.givt-blue-purple { 
    color: #2E2957;
}

.givt-background-red {
    background-color: #b91a2b;
}
.givt-background-orange {
    background-color: #FFb12A
}
.givt-background-green { 
    background-color: #1CA96C;
}
.givt-background-lightgreen { 
    background-color: #41C98E;
}
.givt-background-purple { 
    background-color: #5A5387
}
.givt-background-green { 
    background-color: #1CA96C;
}
.givt-background-blue-purple { 
    background-color: #2E2957;
}
