.section-collects{
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.collection-buttons{
  display: flex;
  align-items: center;
    margin-top: 10px;
}

.collection-buttons > span{
    margin-right:14px;
    align-self: center;
    font-size: 26px;
}

.collection-buttons button{
    display: inline-block;
    background-color: #2C2B57;
    border:0;
    color:white;
    height: 41px;
    margin-left:20px;
    cursor:pointer;
    transition: 0.3s;
}

.collection-buttons .icon{
    width: 41px;
    height: 41px;
}

h2 {
    margin: 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
    font-weight: normal;
    padding: 25px 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Avenir_Roman';
    font-size:18px;
    margin: 0 0 30px 0 ;
    color: #2C2B57;
    text-align:center;
    font-weight: normal;

}

.collects-pickdate {
    display: flex;
    justify-content: space-between;
}

.input-date{
    width: 380px;
    display: block;
}

.search-collect{
    padding: 8px 22px;
    box-sizing: border-box;
    margin: 40px auto !important;
    color:white;
    font-family: 'Avenir_Black';
    background-color:#2C2B57;
    border:0;
    font-size: 18px;
    display: block;
    cursor:pointer;
    transition: 0.3s;
}

.search-collect:active{
    background-color: #C0BFCC;
}

.search-collect:focus,.green-button{
    background-color: #41c98e;
}

.show-collect{
    font-size:16px;
    font-family: 'Avenir_Heavy';
    color: #2C2B57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.show-collect span{
    display: block;
}

.show-collect .time{
    font-family:"Avenir_Roman";
    font-size:12px;
}

.collect-hr{
    border:0;
    border-bottom: 1px solid #E3E2E7;
    width: 80vw;
    margin: 0 auto;
}

.save-collect{
    margin:0 0 0 20px !important;
}

.collects-list{
    margin: 0 auto;
    display: block;
    max-width: 960px;
}

.input-collect-title{
    display: flex;
    font-family: 'Avenir_Heavy';
    font-size:16px;
    color: #2C2B57;
    box-sizing: border-box;
    background-color: transparent;
    cursor:pointer;
    margin-left:0;
    transition: 0.3s;
}

.input-collect-title input{
    font-family: 'Avenir_Heavy';
    font-size:16px;
    color: #2C2B57;
    padding: 10px;
    padding-right:40px;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
    background-position: 95% 50%;
    background-repeat:no-repeat;
    border:1px solid #E3E2E7;
    background-color: white;
}

.input-collect-title input:hover {
    background-image: url(/images/pencil.svg);
    cursor:text;
}

.input-collect-title input:focus{
    background-image: url(/images/pencil-green.svg);
    cursor:text;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Avenir_Light';
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Avenir_Light';
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Avenir_Light';
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Avenir_Light';
}

.collects-list .show-collect{
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.collects-list .show-collect{
    border-top: 1px solid #E3E2E7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
    cursor: pointer;
}

.collects-list .show-collect:last-child{
    border-bottom: 1px solid #E3E2E7;
}

.collects-list .show-collect:hover .arrow-right{
 border-left-color: #2E2957;
    opacity: 1;

}

.saved-collects{
    background-color: white;
    flex: 1 1 auto;
    padding-bottom: 100px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 12px solid #BCB9C8;
    transition: 0.3s;
    opacity: 0.3;
}

.withholding-overview{
    font-family: 'Avenir_Roman';
    font-size:16px;
    text-align: left;
    color: #2C2B57;
    min-height:210px;
    padding-bottom: 20px;
}

.withholding-overview h2{
    padding:0;
    display: inline-block;
    text-align: left;
    font-family: Avenir_Heavy;
    font-size: 16px;
    margin-bottom: 26px;
}

.withholding-overview .close-button{
    background-color: transparent;
    border:0;
    float:right;
    color: #2C2B57;
    cursor:pointer;
    font-family: 'Avenir_Black';
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.withholding-overview .close-button svg{
    margin-left: 13px;
}

.withholding-stats{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.withholding-stats .stat-comp{
    width: 310px;
    text-align: center;
    align-self: baseline;
}

.heavy{
    font-family: Avenir_Heavy !important;
}
.last-row{
    border-top: #2E2957 2px solid;
    margin-top: 15px;
}
.last-row tr td{
    padding: 10px 0 10px 0;
}

.stat-calc tr td:nth-child(3){
    text-align: right !important;
}

.stat-calc tr td:nth-child(1){
    min-width: 200px;
}

.border-bottom td:nth-child(-n+3){
    border-bottom: 2px solid #D9D8DC !important;
}

.total{
    font-size: 18px;
}


.withholding-stats .stat-comp table{
    text-align: left;
    width:100%;
    border-spacing: 0;
}

.withholding-stats .stat-comp table tr td{
    height: 40px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.5;
}

.withholding-stats .stat-comp .table-stats tr:hover td, .withholding-stats .stat-comp .table-stats .active-row td{
    background-color: #e9e8ec;
    font-family:'Avenir_Heavy';
    cursor: pointer;
    opacity: 1;

}

.table-stats .row:after{
    border-bottom: 20px solid transparent;
    border-left: 15px solid transparent;
    border-top: 20px solid transparent;
    height: 0;
    width: 0;
    float:left;
    content: '';
    cursor: pointer;

}

.table-stats .row:hover:after,.table-stats .active-row:after{
    border-left-color: #e9e8ec;
}

.withholding-stats .stat-comp table tr td:nth-child(1){
    width: 45px;
    text-align: center;
    box-sizing: border-box;
}

.withholding-stats .stat-comp table tr td:nth-child(3){
    width: 80px;
    text-align: right;
}

.withholding-stats .stat-calc{
    flex: 1 0 auto;
    align-self: flex-start;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    font-family: 'Avenir_Roman';
    font-size: 16px;
    margin-top: 4px;
}

.stat-calc table{
    border-spacing: 0;
}

.stat-calc tr td{
    padding:5px 0;
    box-sizing: border-box;
}

.stat-calc tr:nth-child(2) td:nth-child(1),.stat-calc tr:nth-child(2) td:nth-child(2),.stat-calc tr:nth-child(2) td:nth-child(3){
    border-bottom: 2px solid #2C2B57;
}

.statc-calc tr td:nth-child(3){
    text-align: right;
}

.stat-calc td:nth-child(5){
    font-size:14px;
}

.stat-calc tr:last-child{
    font-family: 'Avenir_Heavy';
}

.column-spacing-30{
    width: 30px;
}

.column-spacing-40{
    width: 40px;
}

.withholding-stats i{
    color:#2C2B57;
}

.withholding-stats .givt-green{
    color:#06B26B;
}

.withholding-stats .givt-blue{
    color: #2f81c8;
}

.withholding-stats .givt-orange{
    color: #F4B03c;
}

.collected{
    font-family: 'Avenir_Heavy';
    font-size:26px;
}

.collected:first-letter{
    font-size:20px;
}

.tooltip {
    position: relative;
    display: inline-block;

   /* border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext-alter {
  background: #41C98E;
    visibility: hidden;
    width: 320px;
    /*background-color: black;*/
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -7px;
  left: unset;
    right: 100%;

    padding: 8px 12px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Avenir_Light';
}

.tooltiptext--visible {
  visibility: visible !important;
}

.tooltip .tooltiptext-alter::after {
  border-color: transparent #41C98E transparent transparent;
  content: "";
  position: absolute;
  top: 8px;
  right: unset !important;
  left: 100%;

  margin-left: -1px;
  margin-top: unset;
  border-width: 7px;
  border-style: solid;
  transform: rotate(180deg);
}
.tooltip:hover .tooltiptext-alter {
    visibility: visible;
}

.tooltip:hover .fa-info-circle{
    color: #41C98E;
}

.green{
    background-color: #41C98E;

}

.green::after{
    border-color: transparent #41C98E transparent transparent;
}

.blue{
    background-color: #2f81c8;
}

.blue::after{
    border-color: transparent #2f81c8 transparent transparent;
}

.orange{
    background-color: #F4B03c;
}
.orange::after{
    border-color: transparent #F4B03c transparent transparent;
}

.more-info{
    color:#06B26B;
    cursor: pointer;
    text-align: right;
    font-family: Avenir_Heavy;
}

.stat-calc tr .big-cell{
    padding:0;
}

.delete-btn svg{
    margin-top:3px;
}

.collection-buttons .fill-green{
    background-color: #41c98e;
}

.till{
    text-align: center;
    font-family: 'Avenir_Heavy';
    font-size:16px;
    color: #2C2B57;
}

.green-arrow{
    opacity: 1;
    border-left-color: #41c98e !important;
}

.multiple-collects{
    font-family: Avenir_Light;
}

.select__collect{
    padding: 10px;
    margin:10px 0 15px 0;
    min-width: 120px;
    color: #2C2B57;
    font-family: Avenir_Heavy;
    background-color: white;
    border: 1px solid #E3E2E7;
    margin-left: -10px;
}

.select__collect option{
    border:none;
}

.choose_collecte{
    padding:10px 0;
}

.input__checkbox--collecte{
    display: none;
}

.label--collecte{
    color:white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.input__checkbox--collecte + .label--collecte{
    cursor: pointer;
    margin-right: 7px;
    background: #2C2B57;
    height: 35px;
    width: 35px;
    padding: 0 0 0 0;
}

.input__checkbox--collecte:checked + .label--collecte{
    height: 35px;
    width: 35px;
    padding: 0 0 0 0px;
    background: #41c98e;
}

.red{
  color: #D53D4C;
}

.graph-overview {
  width: 100%;
  font-family: Avenir_Light;
  border-collapse: collapse;
}

.graph-overview tr td {
  padding: 10px 0;
}

.graph-overview tr td .personal-icon {
  padding: 0 0 5px 5px;
  margin-right: 5px;
}

.graph-overview tr td .rectangle {
  background: white;
  display: inline-block;
  width: 55px;
  height: 15px;
}

.graph-overview tr td .blue {
  background: #494874;
}

.graph-overview tr td .green {
  background: #41C98E;
}

.graph-overview tr td .red {
  background: #D43D4C;
}

.graph-overview tr td .grey {
  background: #9B96B0;
}

.graph-overview tr td:first-child {
  width: 100px;
  text-align: center;
}

.graph-overview tr .cell-amount {
  text-align: right;
  white-space: nowrap;
  padding-left: 20px;
}

.graph {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 30px;
  position: relative;
}

.graph-section {
  display: flex;
  align-items: center;
}

.selectRow > td {
  background: lightgrey;
}

.hideElement {
  opacity: 0;
}

.info-button {
  border:0;
  outline: 0;
  background: none;
  opacity: 0.3;
  margin: 0;
  padding: 0 15px;
}

.info-button:focus, .info-button:hover {
  opacity: 1;
}

.align-right {
  text-align: right;
}

.back-to-overview {
    display: none;
}

#collectPage .date-picker-input {
    width: 80vw;
    max-width: 320px;
    background: white;
}
#collectPage .date-picker-input:focus {
}

@media only screen and (max-width: 480px){
    .tooltiptext-alter {
        width: calc(320px - 100px) !important;
    }
    .input-collect-title {
        justify-content: unset;
    }
    .collects-list {
        width: unset !important;
    }
    #collectPage .date-picker-input {
        max-width: calc(320px - 2em);
    }
    .collection-buttons {
        width: 100%;
    }
    .rectangle {
        display: none !important;
    }
    .graph-overview tr td:first-child {
        display: none;
    }
    .section-collects .show-collect {
        flex-direction: column;
    }
    .show-collect {
        padding: 0;
    }
    .collection-buttons > span {
        margin-right: unset;
        white-space: nowrap;
    }
    .back-to-overview {
        display: flex;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
    }
    .back-to-overview p {
        margin: 0;
        margin-left: 10px;
        margin-top: 2px;
    }
    .hide-element-on-mobile {
        display: none;
    }
    .red {
        display: none;
    }
  h2, h3 {
    font-size: 16px;

  }
    .section-collects{
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
    }


  .section-collects h2:first-of-type{
    padding-bottom: 0;
  }
  .collects-pickdate {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }

  .collection-buttons > span {
    font-size: 16px;
      flex-grow: 1;
  }
  input[name=bjorn]{
    margin-bottom: 10px;
  }
  .choose_collecte {
    display: flex;
    flex: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section {
    padding-bottom: 0px !important;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section > div > button.search-collect.save-collect {
    margin-left: 20px !important;
  }
  .choose_collecte span:first-of-type {
    margin-top: 8px;
      flex-grow: 1;
  }
  .search-collect {
    margin-top: 20px;
  }

  .graph {
    display: none;
  }
  table.graph-overview {
    font-size: 12px;
  }
  table.graph-overview .cell-amount {
    padding-left:20px;
  }

  body > app-root > div > my-collects > div > div > section:nth-child(4) > section > time > span.date {
    text-align: center;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section > time > span.time {
    text-align: center;
  }
}

@media only screen and (min-width:481px) and (max-width: 1024px){
  .section-collects {
    width: 70vw;
  }
  h2, h3 {
    padding: 20px 20px;
  }
  .collects-pickdate {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section {
    display: block;
    padding-bottom: 0px;
  }
  .choose_collecte {
    margin: 20px auto;
    width: 34vw;
    display: flex;
    justify-content:  space-between;
  }
  .choose_collecte span:first-of-type {
    margin-top: 8px;
  }
  .collection-buttons {
    width: 350px;
    display: flex;
    margin: 0 auto;
  }
  .save-collect {
    margin-left: 20px !important;
    margin-right: 0px !important;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section > time > span.date {
    text-align: center;
  }
  body > app-root > div > my-collects > div > div > section:nth-child(4) > section > time > span.time {
    text-align: center;
  }
  .graph-section {
    display: block;
  }
  .graph {
    margin: 0 auto;
    display: block !important;
    margin-bottom: 20px;
  }
  .collects-list{
    width: 70vw;
  }
}
@media only screen and (min-width: 1025px) {
  .collects-pickdate {
    width: 70vw;
    margin: 0 auto;
    max-width: 750px;
  }
}