body{
    background-color: #F5F5F5;
}
main{
    width: 100%;
    font-size: 1.2em;
    max-width: 500px;
    margin: 0 auto;
}

section{
    width: 100%;


}

.login{
    background: #FFFFFF;
    border: 1px solid #E3E2E7;
    border-radius: 2px;
    margin:1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: auto;
}

.password-box{
    display: flex;
    position: relative;
    margin-bottom: 26px;
}

.pass-eye{
    position: absolute;
    top:0;
    right:11px;
    padding: 0 5px;
    display: flex;
    height: 100%;
}
.pass-eye:hover{
    cursor: pointer;
}
.password-box svg{
    align-self:center;
}
.logo{
    margin: 100px auto 0 auto;
    display: block;
    width: 200px;
    padding:26px;
}

button{
    background: #41C98E;
    border: 1px solid #41C98E;
    font-family: 'Avenir_Black';
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
    padding:10px 0;

}

button:active{
    background: gray;
}
form{
    background:white;
    padding:38px 27px;
}
.block{
    display: block;
}

input[required]{
    padding: 10px 0 10px 13px;
    background-color:white;

}

input{
    border:1px solid #E0E0E6;

    font-family: 'Avenir_Light';
    color:#2E2957;
    font-size: 1em;
    border-radius: 0;
    box-shadow: none !important;

}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #BCB9C9;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #BCB9C9;
    opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #BCB9C9;
    opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #BCB9C9;
}

.label--logged-in{
    background-color:white;
    margin-left: 15px;
    color: #BCB9C9;
    opacity:1;
    font-family: 'Avenir_Light';
    font-size: 1em;
    vertical-align: top;
}

input[type=checkbox]:checked + label{
    color:#2E2957;
}
input[type="email"], input[type="password"]{
    -webkit-appearance: none;
}

.input-full-width{
    width:100%;
    box-sizing: border-box;
}

.error{
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Avenir_Light';
    color: #D43D4C;
    text-align: center;
    display:block;
}
#errorList{
    max-width: 350px;
    margin: 0 auto;
}

input[type="email"]{
    margin-bottom: 26px;
}

button[type="submit"]{
    margin-top:29px;
    cursor:pointer;
}

@media only screen and (max-width: 500px) {
    main{
        height: 100%;
        background-color: #F5F5F5 !important;
    }
    .logo {
        width: 85px;
        height: 32px;
        margin: 0 auto;
        padding: 40px 0 30px 0;
    }
    .login{
        margin: 0 10px 10px 10px;
    }
    section{
        padding: 10px;
    }
    input[type="email"]{
        margin-bottom: 10px;
    }
    .password-box{
        margin-bottom: 20px;
    }
    button[type="submit"]{
        margin-top:20px;
    }


}

.forgot-pw{
    font-size: 17px;
    font-family: Avenir_Light;
    color: #2E2957;
    text-decoration: none;
    margin: 30px 0;
    display: block;
    text-align: center;
    cursor:pointer;
}

.forgot-pw:hover{
    color: #0b0b30;
    text-decoration: underline;
}

.show-loading-animation {
    visibility: visible !important;
    transition: visibility 0.5s linear;
}
