.sidebar {
  background-color: #0b0b30;
  flex: 0 0 auto;
  padding-right: 25px;
  height: 100%;
}

.sidebar .sidebar-nav {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Avenir_Heavy";

}
#sidemenu {
  height: 100vh;
}
.sidebar .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
  border-left: 3px solid transparent;
}
.sidebar .sidebar-nav li:hover {
  border-left: 3px solid lawngreen;
}
li.list-org a {
   background: none !important;
}

.sidebar .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar .sidebar-nav li:first-child a {
  margin-left: 23px;
  padding-top: 23px;
}
#sidemenu > li:nth-child(7){
  border: none;
}
ul.sidebar-nav-bottom {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}
ul.sidebar-nav-bottom li {
  margin:0;
  padding: 0;
}

ul.sidebar-nav-bottom li:first-child a {
  margin-left: 0;
  text-align: left;
}
#sidemenu > li:nth-child(7) > ul > li:nth-child(1) > a{
  margin-left: 0;
  text-align: left;
  padding-top: 0;
}
#sidemenu > li:nth-child(7) > ul > li:nth-child(1) {
  border-left: 3px solid transparent;
}
#sidemenu > li:nth-child(7) > ul > li:hover {
  border-left: 3px solid lawngreen !important;
}

.sidebar-nav li:first-child {
  text-align: center;
  border-left: 3px solid transparent;
}
.sidebar-nav li:first-child:hover {
  border-left: 3px solid transparent !important;
}

.sidebar .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 7px;
  margin-right: 10px;
  color: #fff;
}

.sidebar .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

.sidebar .sidebar-nav li ul.panel-collapse {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  padding: 0;
}

.sidebar .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}

.sidebar .sidebar-nav li ul.panel-collapse li {
  text-indent: 15px;
}
.givt-white-small {
  display: none !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 480px) {
  #sidebar {
    padding-right: 0px;
    -webkit-transition: width 200ms; /* For Safari 3.1 to 6.0 */
    transition: width 1000ms ease;
    width: 52px;
  }
  .sidebar-icon{
    margin-right: 0px !important;
  }
  #sidemenu{
    position:absolute;
  }
  #sidemenu > li > a > span.sidebar-title {
    display: none;
  }
  #sidemenu > li:nth-child(7) > ul > li > a > span.sidebar-title{
    display: none;
  }
  .givt-white-large {
    display: none !important;
  }
  .givt-white-small{
    display: block !important;
    margin: 0 !important;
    padding-top: 0px !important;
    text-align: left;
  }
  .givt-white-small svg {
    margin-top: 4px;
  }
  #sidemenu > li:nth-child(4) > a > span.sidebar-title {
    margin-left: 3px;
  }


}

@media only screen
and (max-device-width : 1080px)  {
  .sidebar .sidebar-nav {
    font-size: 0.8em;
  }
  #sidemenu > li:nth-child(4) > a > span.sidebar-title {
    float: right;
    margin-left: 2px;
  }
}






