#wrapper {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#sidebar-wrapper {
  position: absolute;
  height: 100%;
  background-color: #0b0b30;
  flex: 0 0 auto;
  padding-right: 20px;
  z-index: 1000;
}

#sidebar-wrapper .sidebar-nav {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Avenir_Heavy";

}

#sidebar-wrapper .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
  border-left: 3px solid transparent;
}
#sidebar-wrapper .sidebar-nav li:hover {
  border-left: 3px solid lawngreen;
}
li.list-org a {
   background: none !important;
}

#sidebar-wrapper .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li:first-child a {
  text-align: center;
  border-left: 3px solid transparent;
}
.sidebar-nav li:first-child:hover {
  border: none !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 7px;
  margin-right: 10px;
  color: #fff;
  float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  -khtml-padding-start: 0;
  -o-padding-start: 0;
  padding-start: 0;
  padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
  text-indent: 15px;
}


.nav-title {
  width: 100%;
  background-color: darkgray;
  position: relative;
}



.nav-title-heading {
  padding: 10px 20px;
  font-family: "Avenir_Heavy";
  font-size:18px;
  color:#2C2B57;
  margin: 0;
}
.nav-title-heading:hover > ul{
  display: none;
}

.nav-title-dropdown {
  background: lightgray;
  display: inline-block;
  position: absolute;
  z-index: 1000;

}
.nav-title-dropdown ul {
  list-style: none;
  padding:  0 20px 0 20px;
  font-family: "Avenir_Heavy";
  font-size:14px;
  color:#2C2B57;
}
.nav-title-dropdown ul > li {
  padding: 15px 0;
}
.hidden {
  display: none;
}
[hidden] { display: none !important;}
