my-alert {
  position: absolute;
  margin: 0 auto;
  z-index: 3000;
  width: 100vw;
}

.sidebar {
  background-color: #2e2957;
  flex: 0 0 auto;
  padding-right: 25px;
  height: 100%;
    position: relative;
}

.sidebar .sidebar-nav {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Avenir_Heavy";

}
#sidemenu {
  height: 100vh;
}
.sidebar .sidebar-nav li {
  text-indent: 0;
  line-height: 45px;
  border-left: 4px solid transparent;
}
.sidebar .sidebar-nav li:hover {
  border-left: 4px solid #41C98E;
}
li.list-org a {
   background: none !important;
}

.sidebar .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar .sidebar-nav li:first-child a {
  margin-left: 23px;
  padding-top: 23px;
}

ul.sidebar-nav-bottom {
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  margin-left: -4px;
}
ul.sidebar-nav-bottom li {
  margin:0;
  padding: 0;
}

ul.sidebar-nav-bottom li:first-child a {
  margin-left: 0;
  text-align: left;
}
#sidemenu > li:last-child > ul > li > a{
  margin-left: 0;
  text-align: left;
  padding-top: 0;
}
#sidemenu > li:last-child > ul > li {
  border-left: 4px solid transparent;
}

.active-menu-item {
  border-left: 4px solid #41C98E !important;
}

.sidebar-nav li {
  text-align: left;
  border-left: 4px solid transparent;
}

.transparent-border:hover {
    border-color: transparent;
}

.sidebar .sidebar-nav li a .sidebar-icon {
  width: 45px;
  height: 45px;
  font-size: 14px;
  padding: 0 2px;
  display: inline-block;
  text-indent: 7px;
  margin-right: 10px;
  color: #fff;
}

.sidebar .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
  margin-left: 8px;
}

.sidebar .sidebar-nav li ul.panel-collapse {
  list-style: none;
  padding: 0;
}

.sidebar .sidebar-nav li ul.panel-collapse li i {
  margin-right: 10px;
}

.sidebar .sidebar-nav li ul.panel-collapse li {
  text-indent: 15px;
}
.givt-white-small {
  display: none !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  #sidebar {
    display: none;
  }
}

@media only screen and (max-width : 1324px)  {
  .sidebar .sidebar-nav {
    font-size: 0.8em;
  }
  #sidemenu > li:nth-child(4) > a > span.sidebar-title {
    margin-left: 2px;
  }
}
@media only screen and (max-height: 400px) {
  .sidebar-nav-bottom li:first-of-type {
    display:none;
  }
}