h2{
    margin: 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
    font-weight: normal;
    padding: 25px 0;
    box-sizing: border-box;
}

.text {
    text-align: center;
    color: #2E2957;
    font-family: Avenir_Light;
}

.collect-hr{
    border:0;
    border-bottom: 1px solid #E3E2E7;
    width: 100% !important;
    margin: 0 auto;
}

.dropdown {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    font-size: 18px;
    height: 44px;
    border: 2px solid gainsboro;
}

.save {
    font-size: 18px;
    height: 44px;
    padding: 0 20px;
    box-sizing: border-box;
    background: #2E2957;
    color: white;
    outline: 0;
    font-family: "Avenir-Heavy";
    border: 0;
    cursor: pointer;
}
.save:hover {
    opacity: 0.8;
}

.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.disabled:hover {
    opacity: 0.3;
}

.heavy {
    font-size: 20px;
    font-family: Avenir_Heavy;
}