.section-collects{
    width: 70vw;
    margin: 0 auto;
    position: relative;
}

.collection-buttons{
    display: flex;
}

.collection-buttons > .total-payed{
    margin-right:76px;
    align-self: center;
    font-size: 1em;
    display: inline-block;
}

#big{
    margin-left: 20px;
 font-size: 26px;
    display: inline-block;
}

.collection-buttons button{
    display: inline-block;
    background-color: #2C2B57;
    border:0;
    color:white;
    height: 41px;
    margin-left:20px;
    cursor:pointer;
    transition: 0.3s;
}

.collection-buttons .icon{
    width: 41px;
    height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
    margin: 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
    font-weight: normal;
    padding: 25px 0;
    box-sizing: border-box;
}

h3{
    font-family: 'Avenir_Roman';
    font-size:18px;
    margin: 0 0 30px 0 ;
    color: #2C2B57;
    text-align:center;
    font-weight: normal;

}

.search-collect{
    padding: 8px 22px;
    box-sizing: border-box;
    margin: 40px 0;
    color:white;
    font-family: 'Avenir_Black';
    background-color:#2C2B57;
    border:0;
    font-size: 18px;
    display: block;
    margin-left:auto;
    cursor:pointer;
    transition: 0.3s;
}

.search-collect:active{
    background-color: #C0BFCC;
}

.search-collect:focus,.green-button{
    background-color: #41c98e;
}

.show-collect{
    font-size:1em;
    font-family: 'Avenir_Heavy';
    color: #2C2B57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.show-collect span{
    display: block;
}

.show-collect .time{
    font-family:"Avenir_Roman";
    font-size:12px;
}

.collect-hr{
    border:0;
    border-bottom: 1px solid #E3E2E7;
    width: 70vw !important;
    margin: 0 auto;
}

.collects-list{
    margin: 0 auto;
    display: block;
    width: 70vw;
}

button:disabled{
    background: #BCB9C8 !important;
    cursor: not-allowed !important;
}
.input-collect-title{
    display: flex;
    font-family: 'Avenir_Heavy';
    font-size:1em;
    color: #2C2B57;
    box-sizing: border-box;
    background-color: transparent;
    cursor:pointer;
    margin-left:-10px;
    transition: 0.3s;
}

.input-collect-title input{
    font-family: 'Avenir_Heavy';
    font-size:1em;
    color: #2C2B57;
    padding: 10px;
    padding-right:40px;
    border: 1px solid transparent;
    background-color: transparent;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100%;
    cursor: pointer;
    background-position: 95% 50%;
    background-repeat:no-repeat;
}

.input-collect-title input:hover {
    background-image: url(/src/images/pencil.svg);
    border:1px solid #E3E2E7;

}

.input-collect-title input:focus{
    background-image: url(/src/images/pencil-green.svg);
    background-color: white;
    border:1px solid #E3E2E7;
    cursor:text;

}

.collects-list .show-collect{
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collects-list .show-collect{
    border-top: 1px solid #E3E2E7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.4s;
    cursor: pointer;
}

.collects-list .show-collect:last-child{
    border-bottom: 1px solid #E3E2E7;
}

.collects-list .show-collect:hover .arrow-right{
    border-left-color: #2E2957;

}

.saved-collects{
    background-color: white;
    flex: 1 1 auto;
}

.withholding-overview{
    font-family: 'Avenir_Roman';
    font-size:1em;
    text-align: left;
    color: #2C2B57;
    min-height:210px;
    padding-top: 10px;
    position: relative;
    padding: 30px 0;
}

.withholding-overview h2{
    padding:0;
    display: inline-block;
    text-align: left;
    font-family: Avenir_Heavy;
    font-size: 1em;
    margin-bottom: 26px;
}

.withholding-overview .close-button{
    background-color: transparent;
    border:0;
    float:right;
    color: #2C2B57;
    cursor:pointer;
    font-family: 'Avenir_Black';
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.withholding-overview .close-button svg{
    margin-left: 13px;
}

.withholding-stats{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.withholding-stats .stat-comp{
    max-width: 330px;
    text-align: center;
}

.withholding-stats .stat-comp table{
    text-align: left;
    width:100%;
    border-spacing: 0;
}

.withholding-stats .stat-comp table tr td{
    height: 40px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.5;
}

.withholding-stats .stat-comp .table-stats tr:hover td, .withholding-stats .stat-comp .table-stats .active-row td{
    background-color: #e9e8ec;
    font-family:'Avenir_Heavy';
    cursor: pointer;
    opacity: 1;

}

.table-stats .row:after{
    border-bottom: 20px solid transparent;
    border-left: 15px solid transparent;
    border-top: 20px solid transparent;
    height: 0;
    width: 0;
    float:left;
    content: '';
    cursor: pointer;

}

.table-stats .row:hover:after,.table-stats .active-row:after{
    border-left-color: #e9e8ec;
}

.withholding-stats .stat-comp table tr td:nth-child(1){
    width: 45px;
    text-align: center;
    box-sizing: border-box;
}

.withholding-stats .stat-comp table tr td:nth-child(3){
    width: 80px;
    text-align: right;
}

.withholding-stats .stat-calc{
    flex: 1 0 auto;
    align-self: flex-start;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
    font-family: 'Avenir_Roman';
    font-size: 1em;
    margin-top: 4px;
}

.stat-calc table{
    border-spacing: 0;
}

.stat-calc tr td{
    padding:5px 0;
    box-sizing: border-box;
}


.statc-calc tr td:nth-child(3){
    text-align: right;
}

.stat-calc td:nth-child(5){
    font-size:14px;
}

.stat-calc tr:last-child{
    font-family: 'Avenir_Heavy';
}

.alt-stat tr td{
    border:0;
}


.column-spacing-30{
    width: 30px;
}

.column-spacing-40{
    width: 40px;
}

.withholding-stats i{
    color:#2C2B57;
}

.withholding-stats .givt-green{
    color:#06B26B;
}

.withholding-stats .givt-blue{
    color: #2f81c8;
}

.withholding-stats .givt-orange{
    color: #F4B03c;
}

.withholding-stats .givt-darkorange{
    color: #F17057;
}

.collected{
    font-family: 'Avenir_Heavy';
    font-size:26px;
}

.collected:first-letter{
    font-size:20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    background: #41C98E;
    visibility: hidden;
    width: 320px;
    /*background-color: black;*/
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 0;
  right: unset;
    left: 120%;

    padding: 8px 12px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Avenir_Roman';
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    border-color: transparent #41C98E transparent transparent;
    top: 15px;
  left:unset;
    right: 100%;

    margin-top: -5px;
  margin-left: unset;
    border-width: 5px;
    border-style: solid;
  transform: unset;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .fa-info-circle{
    color: #41C98E;
}

.green{
    background-color: #41C98E;

}

.green::after{
    border-color: transparent #41C98E transparent transparent;
}

.blue{
    background-color: #2f81c8;
}

.blue::after{
    border-color: transparent #2f81c8 transparent transparent;
}

.orange{
    background-color: #F4B03c;
}
.orange::after{
    border-color: transparent #F4B03c transparent transparent;
}

.more-info{
    color:#06B26B;
    cursor: pointer;
}

.stat-calc tr .big-cell{
    padding:0;
}

.delete-btn svg{
    margin-top:3px;
}

.collection-buttons .fill-green{
    background-color: #41c98e;
}

.till{
    align-self:center;
    font-family: 'Avenir_Heavy';
    font-size:1em;
    color: #2C2B57;
}

.green-arrow{
    border-left-color: #41c98e !important;
}


.center-me{
    margin: 0 auto;
    width: 80vw;
}
.search-payouts {
  margin: 20px auto; text-align: center;display:flex
}
.white-bg{
    background-color: white;
}

.overview-payout{
    margin-left: 0;
    max-width: 330px;
    font-family: Avenir_Heavy;
    font-size: 18px;
}

.overview-payout tr td {
    padding: 10px 0;
}

.overview-payout tr td:last-child{
    text-align: right;
}

.black{
    font-family: Avenir_Black !important;
}

.heavy{
    font-family: Avenir_Heavy !important;
}
.last-row{
    border-top: #2E2957 2px solid;
    margin-top: 15px;
}
.last-row tr td{
    padding: 10px 0 10px 0;
}

.stat-calc tr td:nth-child(3){
    text-align: right !important;
}

.stat-calc tr td:nth-child(1){
    min-width: 200px;
}

.border-bottom td:nth-child(-n+3){
    border-bottom: 2px solid #D9D8DC !important;
}

.total{
    font-size: 18px;
}

.red{
  color: #D53D4C;
}

.yellow {
  color: #F5A623;
}

.collect__table{
    font-family: Avenir_Heavy;
    margin-bottom: 30px;
}

.collect__table td{
    padding-right : 40px;
}


.collect__table__footer{
    font-family: Avenir_Black;
    padding-top: 15px;
    border-top: 2px solid #2E2957;
    font-weight: bolder;
}

.allocation-tab{
  position:relative;
  box-sizing: border-box;
}

.special-last-cell{
  border-top: 2px solid #2C2B57;
  padding-top: 13px;
}

.alloc{
  width: 600px;
}
.alloc td{
  padding-right:5px !important;
}

.last{
    padding-bottom: 100px;
}

.text {
  text-align: center;
  color: #2E2957;
  font-family: Avenir_Light;
}

.icon {
  background: #2E2957;
  width: 41px;
  height: 41px;
  display: inline-flex;
  border: 0;
  cursor: pointer;

}

.overlay-loader {
  background: rgba(245, 245, 245, 0.8);

  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height:100vh;
}

.section-collects-nopayments {
    margin: 40px auto !important;
    font-size: 18px !important;
    font-family: Avenir_Light !important;
}

.placeholder-line {
    background: #e3e2e7;
    margin: 30px 0;
    border-radius: 30px;
    height: 20px;
}
.mobile-text-info {
  display: none;
}
@media only screen
and (max-device-width: 480px){
  .date-picker-input {
    max-width: 250px;
    margin: 0 auto;
  }
    h2{
      font-size: 1em !important;
    }
   .search-payouts {
     display: block;
   }
  .search-payouts button {
    margin-top: 20px;
  }
  .show-collect {
    display: block;
  }
  .alloc {
    max-width: 80vw;
  }
  .collection-buttons > .total-payed {
    margin-right: 0;
    margin-top: 1em;
  }
  .collection-buttons > .icon {
    margin-top: 1em;
  }
  #big {
    margin: unset;
    font-size: 22px;
  }
  .withholding-stats{
    display:block !important;
  }
  .mobile-text-info {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .mobile-text-info td {
    padding: 0px !important;
    border: none !important;
  }
  .text-info {
    text-indent: -30000px;
  }
  .stat-calc alt-stat {
    padding: unset;
  }
  .stat-calc table tr td:nth-child(5) {
    display:none;
  }
  .stat-calc table tr td:nth-child(4) {
    display:none;
  }
  .till {
    margin: 1em auto !important;
  }

}
@media only screen
and (min-device-width: 481px)
and (max-device-width: 1024px){
  .search-payouts {
    display: block;
    max-width: 320px;
    margin: 0 auto;
  }
  .withholding-overview {
    max-width: 400px
  }
  #big {
    margin: 0;
  }
  .withholding-stats{
    display:block !important;
  }
  .mobile-text-info {
    display: block;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .mobile-text-info td {
    padding: 0px !important;
    border: none !important;
  }
  .text-info {
    text-indent: -30000px;
  }
  .stat-calc alt-stat {
    padding: unset;
  }
  .stat-calc table tr td:nth-child(5) {
    display:none;
  }
  .stat-calc table tr td:nth-child(4) {
    display:none;
  }
  .till {
    margin: 1em auto !important;
  }
  .withholding-stats .stat-comp {
    width: auto;
    max-width: 420px;
  }
  .withholding-stats .stat-calc {
    padding: 0;
    display:grid;
    padding-right: 20px;
  }
  .alloc {
    max-width: 420px;
  }
  .withholding-overview table {
    max-width: 420px;
  }
  .last-row, .overview-payout-top {
    width: 380px;
  }
}

@media only screen
  and (min-device-width: 481px)
  and (max-device-width: 1200px){
  .show-payout {
    width: 70vw;
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  .collection-buttons > .total-payed {
    margin-right: auto;
  }
  .collection-buttons > .icon {
    margin-top: -16px;
  }
}

@media only screen
and (min-device-width: 1025px){
  .search-payouts {
    max-width: 760px;
  }
  .show-payout {
    width: 70vw;
    max-width: 960px;
  }
  .show-payout span.date {
    margin-top: 6px;
  }
  .withholding-overview {
    max-width: 1200px;
    margin: 0 auto;
  }
  .withholding-overview table.alloc {
    width: 70vw;
    max-width: 1200px;
  }
  .icon-download{
    margin: 0 0 0 20px !important;
  }
}


.icon-download {
  margin: 20px;
}
