.questions {
    height: 100%; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.questions-component {
    height: 60%; 
    width: 80%; 

    background: #FFFFFF;
    border: 1px solid #E3E2E7;
    border-radius: 2px;
}

.questions-component-header {
    height: 10%; 
    width: 100%; 
}

.questions-component-body {
    height: 80%; 
    width: 100%; 
    position: relative;
}

.questions-component-footer {
    height: 10%; 
    width: 100%; 
    position: relative;
}

.question-previous {
    max-width: 40%;
    max-height: 80%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
}
.question-next {
    max-width: 40%;
    max-height: 80%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
}

.question-gofurther {
    width: 20%;
    max-height: 80%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    background: #41C98E;
    border: 1px solid #41C98E;
    font-family: 'Avenir_Black';
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 5px;
}

.question-cancel {
    width: 20%;
    max-height: 80%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    left:25%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    background: #41C98E;
    border: 1px solid #41C98E;
    font-family: 'Avenir_Black';
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 5px;
}

.question-submit {
    width: 20%;
    max-height: 80%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    background: #41C98E;
    border: 1px solid #41C98E;
    font-family: 'Avenir_Black';
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-block-end: unset;
    margin-block-start: unset;
    padding: 5px;
}

@media only screen and (max-width : 480px) {

    .global-layout {
        min-height: calc(100vh - 52px);
    }
}