* {
    box-sizing: border-box;
}
.questions {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative; 
}
.questions-component {
    position: absolute;
    margin: auto;

    height: 90%;
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #E3E2E7;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.header {
    width: 100%;
    padding: 10px;
}

@media only screen and (max-width: 480px) {
    .global-layout {
        min-height: calc(100vh - 52px);
    }
} 

.main-v2-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}
.main-v2-body_question2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.main-v2-first {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.main-v2-second {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.main-v2-left {
    height: 40%;
} .main-v2-left img.main-v2-qr-sample {
    height: 100%;
    padding: 0px 0 10px 0;
}

.main-v2-right {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} .main-v2-right p {
    padding: 0 20px;
    text-align: center;
    font-family: 'Avenir_Light';
    color:#2E2957;
    font-size: 0.9em;
} .main-v2-right ul {
    margin: 0 auto;
    text-align: left;
    width: min-content;

    padding-inline-start: 5px;
} .main-v2-right ul li {
    font-family: 'Avenir_Light';
    color:#2E2957;
    font-size: 0.8em;
    white-space: nowrap;
    width: 80%;
    word-wrap: break-word;
}
.main-v2-right button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 0.8em;
    font-family: "Avenir_Heavy";
    line-height: 1.5;
    border-radius: .25rem;
    width: calc(100% - 40px);
    margin: 0 20px;
    margin-bottom: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main-v2-body_question2 .main-v2-left {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

} .main-v2-body_question2 .main-v2-left img.main-v2-qr-sample {
    width: 85%;
    max-width: 100%;
    height: unset;
    padding-bottom: 0px;
}

.main-v2-body_question2 .main-v2-right {
    height: 50%;
    width: 100%;
    justify-content: unset;
}.main-v2-body_question2 .main-v2-right p {
    font-size: 0.8em;
    margin: 0.5em 0;
}  
.main-v2-body_question2 .main-v2-right .subtitle {
    font-family: "Avenir_Heavy";
    font-size: 1em;
}  

.main-v2-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 20px;
} .main-v2-footer-left {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} .main-v2-footer-middle {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}.main-v2-footer-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-givt {
    color: #fff;
    background:#06B26B;
} .btn-givt:hover {
    background-color: rgb(11, 158, 97);
    border-color: rgb(6, 83, 51);
}

.btn-previous {
    padding: 5px;
    width: 25%;
}
.btn-next {
    padding: 5px;
    width: 25%;
}

@media only screen and (min-width: 481px) {
    h2 {
        font-size: 2em;
    }
    .main-v2-body {
        flex-direction: row;
    }
    .main-v2-left {
        width: 50%;
        height: 100%;
        display: flex;
    } .main-v2-left img.main-v2-qr-sample {
        margin: 0 auto;
    }
    .main-v2-right {
        padding-right: 30px;
        width: 50%;
        height: 100%;
        padding-bottom: 20px;
        justify-content: center;
    }
    .questions {
        align-items: center;
    }
    .questions-component { 
        height: 60%;
        min-width: 520px;
        width: 60%;
    }

    .main-v2-body_question2 .main-v2-left {
        height: 60%;
    } .main-v2-body_question2 .main-v2-left img.main-v2-qr-sample {
        max-height: 90%;
        width: unset;
    }
    .main-v2-body_question2 .main-v2-right {
        height: 40%;
        padding-right: unset;
        padding-bottom: unset;
    }.main-v2-body_question2 .main-v2-right p {
        font-size: 1em;
        margin: 1em 0;
    }  
    .main-v2-body_question2 .main-v2-right .subtitle {
        font-family: "Avenir_Heavy";
        font-size: 1.5em;
    } 

    .btn-previous {
        font-size: 1.5em;
    }
    .btn-next {
        font-size: 1.5em;
    }
} 