.settings-pane {
    background: #5A5387;
    color: white;
    box-sizing: border-box;
    font-family: Avenir_Light;
    height: 100vh;
}

.settings-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.settings-list-item {
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-list-item:hover, .settings-list-item-active {
    background: #8B86AB;
}

.column-wrapper {
    display: grid;
    grid-template-columns: 250px auto;
}

.setting {
    background: white;
    padding: 20px 50px;
    box-sizing: border-box;
}

.lightpurple {
    color: #8B86AB;
}

.first-day-of-week-container {
    text-align: center;
}

.first-day-of-week-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Avenir_Light;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.first-day-of-week-list li {
    background: #918FA6;
    display: inline-block;
    padding: 5px 12px;
    margin-right: 5px;
    border-radius: 20px;
    color:white;
    cursor: pointer;
}

.first-day-of-week-list li:last-child {
    margin-right: 0;
}

.first-day-of-week-list li:hover {
    background: #5A5387;
}

.first-day-of-week-list li:focus {
    background: #2E2957;
}

.first-day-of-week-list li.selected-day {
    background: #41c98e;
}

.first-day-of-week-list li.selected-day:hover {
    background: #1CA96C;
}

.flex-row {
    flex-direction: row;
}

.go-back {
    cursor:pointer;padding: 20px;display: flex;align-items: center;justify-content: space-between;
    background-color: #4D98CF;
}
.go-back:hover {
    background-color: #246AB1;
}

@media only screen and (max-width : 480px) {
    .go-back p {
        margin: 0 auto !important;
    }
    .column-wrapper {
        grid-template-columns: auto;
    }
    .settings-pane-hidden {
        display: none;
    }
    .setting-hidden {
        display: none;
    }
    .first-day-of-week-list {
        flex-direction: column;
    }
    .first-day-of-week-list li {
        margin-right: unset;
        margin-bottom: 5px;
    }
}
