
.nav-title {
  width: 100%;
  background-color: darkgray;
}
@media only screen and (max-device-width : 480px) {
  .nav-title {
    width: 100vw;
  }
  .nav-title p {
    width: 150px;
  }
  .mobile-manual {
    color: white;
    display: inline-block !important;
    margin-right: 12px;
    margin-top: 1px;
    position: fixed;
    right: 0;
  }
}

.nav-title-heading {
  padding: 10px 20px;
  font-family: "Avenir_Heavy";
  font-size:18px;
  color:#2C2B57;
  margin: 0;
}
.nav-title-heading:hover > ul{
  display: none;
}

.nav-title-dropdown {
  background: lightgray;
  display: inline-block;
  position: absolute;
  z-index: 1000;

}
.nav-title-dropdown ul {
  list-style: none;
  padding:  0 20px 0 20px;
  font-family: "Avenir_Heavy";
  font-size:14px;
  color:#2C2B57;
}
.nav-title-dropdown ul > li {
  padding: 15px 0;
}
.hidden {
  display: none;
}
[hidden] { display: none !important;}
