<my-navigation></my-navigation>
<div class="section-page">
  <h2>{{ "TitleAllocate" | translate }}</h2>
  <div class="schedule">
    <p-schedule #calendar [events]="events" locale="nl" [nowIndicator]="false" [header]="headerConfig" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" [options]="options" id="calendar"></p-schedule>
    <div class="schedule__dialog" *ngIf="isDialogOpen">
      <form style="position: relative" *ngIf="showForm && !showDelete" action="" class="schedule__dialog__form">
        <div style="margin-bottom: 30px" class="flex-col" *ngIf="!isMonthView">
          <span style="margin-left: 0" class="text">{{'From' | translate}}</span>
          <p-calendar [(ngModel)]="startTime" showTime="showTime" [timeOnly]="true" name="startTime" [stepMinute]="10" class="time-picker"></p-calendar> <span class="text">{{'To' | translate}}</span>
          <p-calendar [(ngModel)]="endTime" showTime="showTime"  [timeOnly]="true" name="endTime" [stepMinute]="10"></p-calendar>
        </div>

        <h3>{{ "AddNameToCollect" | translate }}</h3>
        <div class="schedule__dialog__form__controls flex-col">
          <div *ngIf="collectOneCheck"><input [class.red-border]="collectOneCheck && collectName == ''" class="schedule__dialog__form--input margin-bottom" type="text" name="collectName" [(ngModel)]="collectName" placeholder="{{ 'Collection' | translate }} 1"><button (click)="deleteCollect(1)" class="schedule__dialog__form--delete__collect">x</button></div>
          <div *ngIf="collectTwoCheck"><input [class.red-border]="collectTwoCheck && collectName2 == ''" class="schedule__dialog__form--input margin-bottom" type="text" name="collectName2" [(ngModel)]="collectName2" placeholder="{{ 'Collection' | translate }} 2"><button (click)="deleteCollect(2)" class="schedule__dialog__form--delete__collect">x</button></div>
          <div *ngIf="collectThreeCheck"><input [class.red-border]="collectThreeCheck && collectName3 == ''" class="schedule__dialog__form--input margin-bottom" type="text" name="collectName3" [(ngModel)]="collectName3" placeholder="{{ 'Collection' | translate }} 3"><button (click)="deleteCollect(3)" class="schedule__dialog__form--delete__collect">x</button></div>
          <button type="button" class="schedule__dialog__form--submit" [class.submit-enabled]="collectName != '' || collectName2 != '' || collectName3 != ''" (click)="updateEvent()">{{'PW_Save' | translate}}</button>
        </div>
        <span class="close-button" (click)="resetAll(false)">X</span>
      </form>
      <form *ngIf="showDelete && !showForm" action="" class="schedule__dialog___form--delete">
        <h3>{{"DeleteCollectConfirm" | translate}}</h3>
        <button class="schedule__dialog__form--submit submit-enabled" type="submit" (click)="deleteEvent()">{{ "YesImSure" | translate}}</button>
        <button class="schedule__dialog__form--submit submit-enabled" type="submit" (click)="resetAll(false)">{{ "NoNeverMind" | translate}}</button>
      </form>

    </div>
    <div class="error__message" *ngIf="errorShown">
      <div class="error__message--inner">
        <h3>{{"OverlapError" | translate}}</h3>
        <button class="schedule__dialog__form--submit submit-enabled no-margin" (click)="toggleError(false)">{{ "PW_GoBack" | translate}}</button>
      </div>
    </div>
  </div>

</div>
