<my-navigation></my-navigation>
<div class="section-page">
  <h2>{{ "TitleAllocate" | translate }}</h2>
  <div class="assign__button" [class.showElement]="numberOfFilteredEvents > 0">
    <span style="font-family: Avenir_Medium; font-size: 17px;">{{'AssignOpenCollectes' | translate}}</span>
    <div class="wrapping_inputlist">
      <input (focus)="focusAllCollectsTyping(true)" (focusout)="focusAllCollectsTyping(false)" (ngModelChange)="allCollectNameChanging($event)" class="allocation__input" type="text" name="allocationWeekName" [(ngModel)]="allocateWeekName"/>
      <ul *ngIf="allCollectTyping" class="schedule__dialog__form__list">
        <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" [innerHTML]="item" (click)="setWeekName(item)">yoo</li>
      </ul>
    </div>
    <button [disabled]="allocateWeekName === ''" class="assign-green-button" (click)="allocateWeek()"></button>
  </div>
  <div class="schedule">
    <p-schedule #calendar [events]="events" locale="nl" [nowIndicator]="false" [header]="headerConfig" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" [options]="options" id="calendar"></p-schedule>
    <div class="schedule__dialog" *ngIf="isDialogOpen">
      <form style="position: relative;max-height: 667px;overflow: scroll;" [class.schedule__dialog__form--disabled]="errorShown" action="" class="schedule__dialog__form">
        <div style="margin-top:15px; margin-bottom: 30px" class="flex-col" *ngIf="!isMonthView && allowButton">
          <span style="margin-left: 0" class="text">{{'From' | translate}}</span>
          <p-calendar [(ngModel)]="startTime" showTime="showTime" [timeOnly]="true" name="startTime" [stepMinute]="10" class="time-picker"></p-calendar> <span class="text">{{'To' | translate}}</span>
          <p-calendar [(ngModel)]="endTime" showTime="showTime"  [timeOnly]="true" name="endTime" [stepMinute]="10"></p-calendar>
        </div>

        <div style="display: flex;flex-wrap: wrap;">
          <div style="margin-left: 20px;margin-top: 6px;">
            <span *ngIf="!areAllocationsEmpty" class="tab__element" (click)="currentTab = SelectedTab.Collects" [class.tab__element--active]="currentTab == SelectedTab.Collects">{{ "Menu_Collectes" | translate}}</span>
            <span *ngIf="fixedAllocations.length > 0" class="tab__element" (click)="currentTab = SelectedTab.Fixed" [class.tab__element--active]="currentTab == SelectedTab.Fixed">{{"FixedPoints" | translate}}</span>
          </div>

          <div class="info-table" *ngIf="currentTab == SelectedTab.Collects">
            <table class="info-table__table" width="100%" cellpadding="0" cellspacing="0" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">

              <ng-container *ngFor="let alloc of allocations">
                <tr class="info-table__row" *ngIf="alloc.amountOfGivts != 0">
                    <td><img src="images/personal-blue.png" alt=""> {{ alloc.amountOfGivts }}</td>
                    <td>
                      <div style="height: 40px;display: flex;justify-content: center;">
                        <div class="wrapping_inputlist" style="display: flex;">
                          <span style="align-self: center;" *ngIf="!allowButton">{{alloc.name}}</span>
                          <input *ngIf="allowButton" (focus)="alloc.isTyping=true" (focusout)="onFocusOutOf(alloc);" autocomplete="off"  class="info-table__input" [class.info-table__input--false]="alloc.name == ''" (ngModelChange)="this.filterTags($event)" type="text" name="collectName{{alloc.collectionNumber}}" [(ngModel)]="alloc.name" placeholder="{{ 'Collection' | translate }} {{ alloc.collectionNumber }}">
                          <ul *ngIf="alloc.isTyping" class="schedule__dialog__form__list">
                            <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" (click)="setCollectNameOf(item, alloc)" [innerHTML]="item"></li>
                          </ul>
                        </div>

                      </div>
                    </td>
                    <td class="incasso-state">
                      <div style="display: flex; flex-direction: column; align-items: flex-end;">
                        <table class="incasso-state-table">
                          <tr [class.incasso-state-table__row--disabled]="alloc.toProcessTotal == 0">
                            <td><span class="bullet bullet--blue"></span></td>
                            <td>{{ "Processing" | translate }}</td>
                            <td class="align--right">{{ displayValue(alloc.toProcessTotal) }}</td>
                          </tr>
                          <tr [class.incasso-state-table__row--disabled]="alloc.processedTotal == 0">
                            <td><span class="bullet bullet--green"></span></td>
                            <td>{{ "Processed" | translate }}</td>
                            <td class="align--right">{{ displayValue(alloc.processedTotal) }}</td>
                          </tr>
                          <tr [class.incasso-state-table__row--disabled]="alloc.refusedBank == 0">
                            <td><span class="bullet bullet--red"></span></td>
                            <td>{{"CancelledByBank" | translate}}</td>
                            <td class="align--right">{{ displayValue(alloc.refusedBank) }}</td>
                          </tr>
                          <tr [class.incasso-state-table__row--disabled]="alloc.cancelByGiver == 0">
                            <td><span class="bullet bullet--grey"></span></td>
                            <td>{{ "CancelledByUser" | translate}}</td>
                            <td class="align--right">{{ displayValue(alloc.cancelByGiver) }}</td>
                          </tr>
                          <tr class="incasso-state-table__row--em">
                            <td></td>
                            <td>{{ "Text_Fee_Total" | translate}}</td>
                            <td class="align--right">{{ displayValue(alloc.toProcessTotal + alloc.processedTotal + alloc.refusedBank + alloc.cancelByGiver) }}</td>
                          </tr>
                        </table>
                      </div>

                    </td>
                </tr>
              </ng-container>
            </table>
            <div class="dialog-button-container">
              <button *ngIf="allowButton" style="height: 44px;" class="info-table__button" [disabled]="disableSaveButton" [class.info-table__button--disabled]="disableSaveButton" (click)="saveAllEvents()">{{ "SaveAll" | translate }}</button>
              <button *ngIf="!allowButton" style="height: 44px;" class="info-table__button info-table__button--danger" (click)="deleteEvent()">{{ "DeleteAll" | translate }}</button>
            </div>
          </div>

          <div class="info-table" *ngIf="currentTab == SelectedTab.Fixed">
            <table class="info-table__table" width="100%" cellpadding="0" cellspacing="0" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">

              <ng-container *ngFor="let alloc of fixedAllocations">
                <tr class="info-table__row" *ngIf="alloc.amountOfGivts != 0">
                  <td><img src="images/personal-blue.png" alt=""> {{ alloc.amountOfGivts }}</td>
                  <td>
                    <div style="height: 40px;display: flex;justify-content: center;">
                      <div class="wrapping_inputlist" style="display: flex;">
                        <span style="align-self: center;">{{alloc.name}}</span>
                      </div>
                    </div>
                  </td>
                  <td class="incasso-state">
                    <div style="display: flex; flex-direction: column; align-items: flex-end;">
                      <table class="incasso-state-table">
                        <tr [class.incasso-state-table__row--disabled]="alloc.toProcessTotal == 0">
                          <td><span class="bullet bullet--blue"></span></td>
                          <td>{{ "Processing" | translate }}</td>
                          <td>{{ displayValue(alloc.toProcessTotal) }}</td>
                        </tr>
                        <tr [class.incasso-state-table__row--disabled]="alloc.processedTotal == 0">
                          <td><span class="bullet bullet--green"></span></td>
                          <td>{{ "Processed" | translate }}</td>
                          <td>{{ displayValue(alloc.processedTotal) }}</td>
                        </tr>
                        <tr [class.incasso-state-table__row--disabled]="alloc.refusedBank == 0">
                          <td><span class="bullet bullet--red"></span></td>
                          <td>{{"CancelledByBank" | translate}}</td>
                          <td>{{ displayValue(alloc.refusedBank) }}</td>
                        </tr>
                        <tr [class.incasso-state-table__row--disabled]="alloc.cancelByGiver == 0">
                          <td><span class="bullet bullet--grey"></span></td>
                          <td>{{ "CancelledByUser" | translate}}</td>
                          <td>{{ displayValue(alloc.cancelByGiver) }}</td>
                        </tr>
                        <tr class="incasso-state-table__row--em">
                          <td></td>
                          <td>{{ "Text_Fee_Total" | translate}}</td>
                          <td>{{ displayValue(alloc.toProcessTotal + alloc.processedTotal + alloc.refusedBank + alloc.cancelByGiver) }}</td>
                        </tr>
                      </table>
                    </div>

                  </td>
                </tr>
              </ng-container>
            </table>
            <div class="dialog-button-container">
              <button *ngIf="allowButton && currentTab == SelectedTab.Collects" style="height: 44px;" class="info-table__button" [disabled]="disableSaveButton" [class.info-table__button--disabled]="disableSaveButton" (click)="saveAllEvents()">{{ "SaveAll" | translate }}</button>
              <button *ngIf="!allowButton && currentTab == SelectedTab.Collects" style="height: 44px;" class="info-table__button info-table__button--danger" (click)="deleteEvent()">{{ "DeleteAll" | translate }}</button>
            </div>
          </div>
        </div>
        <button (click)="resetAll(false)" class="close-button"><img src="images/close.png" alt=""></button>
      </form>

      <div class="error__message" *ngIf="errorShown">
        <div class="error-wrapper">
          <div class="error__message--inner">
            <h3>{{"OverlapError" | translate}}</h3>
            <button class="schedule__dialog__form--submit submit-enabled no-margin" (click)="toggleError(false)">{{ "PW_GoBack" | translate}}</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<my-footer></my-footer>
