<my-navigation></my-navigation>
<div class="section-page">
  <h2>{{ "TitleAllocate" | translate }}</h2>
  <div class="assign__button" [class.showElement]="numberOfFilteredEvents > 0">
    <span style="font-family: Avenir_Medium; font-size: 17px;">{{'AssignOpenCollectes' | translate}}</span>
    <div class="wrapping_inputlist">
      <input (focus)="focusAllCollectsTyping(true)" (focusout)="focusAllCollectsTyping(false)" (ngModelChange)="allCollectNameChanging($event)" class="allocation__input" type="text" name="allocationWeekName" [(ngModel)]="allocateWeekName"/>
      <ul *ngIf="allCollectTyping" class="schedule__dialog__form__list">
        <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" [innerHTML]="item" (click)="setWeekName(item)">yoo</li>
      </ul>
    </div>
    <button [disabled]="allocateWeekName === ''" class="assign-green-button" (click)="allocateWeek()"></button>
  </div>
  <div class="schedule">
    <p-schedule #calendar [events]="events" locale="nl" [nowIndicator]="false" [header]="headerConfig" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)" [options]="options" id="calendar"></p-schedule>
    <div class="schedule__dialog" *ngIf="isDialogOpen">
      <form style="position: relative" action="" class="schedule__dialog__form">
        <div style="margin-bottom: 30px" class="flex-col" *ngIf="!isMonthView">
          <span style="margin-left: 0" class="text">{{'From' | translate}}</span>
          <p-calendar [(ngModel)]="startTime" showTime="showTime" [timeOnly]="true" name="startTime" [stepMinute]="10" class="time-picker"></p-calendar> <span class="text">{{'To' | translate}}</span>
          <p-calendar [(ngModel)]="endTime" showTime="showTime"  [timeOnly]="true" name="endTime" [stepMinute]="10"></p-calendar>
        </div>

        <div style="display: flex;flex-wrap: wrap;">
          <div style="margin-left: 20px">
            <span class="tab__element" (click)="currentTab = SelectedTab.Collects" [class.tab__element--active]="currentTab == SelectedTab.Collects">Collectes</span>
            <span class="tab__element" (click)="currentTab = SelectedTab.Fixed" [class.tab__element--active]="currentTab == SelectedTab.Fixed">Vaste punten</span>
          </div>

          <div class="info-table">
            <table class="info-table__table" width="100%" cellpadding="0" cellspacing="0" marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
              <tr class="info-table__row" *ngIf="this.firstCollection.amountOfGivts != 0">
                <td><img src="images/personal-green.png" alt=""> {{ this.firstCollection.amountOfGivts }}</td>
                <td>
                  <div style="height: 40px;display: flex;justify-content: center;">
                    <div class="wrapping_inputlist">
                      <input (focus)="this.firstCollection.isTyping=true" (focusout)="onFocusOutOf(this.firstCollection);" autocomplete="off"  class="info-table__input" [class.info-table__input--false]="this.firstCollection.name == ''" (ngModelChange)="this.filterTags($event)" type="text" name="collectName" [(ngModel)]="this.firstCollection.name" placeholder="{{ 'Collection' | translate }} 1">
                      <ul *ngIf="this.firstCollection.isTyping" class="schedule__dialog__form__list">
                        <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" (click)="setCollectNameOf(item, this.firstCollection)" [innerHTML]="item"></li>
                      </ul>
                    </div>
                      <button style="margin-left: 10px;" class="info-table__button" [class.info-table__button--hidden]="firstCollection.state == ButtonState.Saved" [class.info-table__button--disabled]="this.firstCollection.name == '' " [disabled]="this.firstCollection.name == ''" (click)="updateEvent(this.firstCollection, '1')">{{'PW_Save' | translate}}</button>

                  </div>
                 </td>
                <td class="incasso-state">
                  <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <span *ngIf="firstCollection.toProcessTotal != 0" class="light">{{ "Processing" | translate }}: <span class="heavy-text">{{ displayValue(this.firstCollection.toProcessTotal) }}</span> </span>
                    <span *ngIf="firstCollection.processedTotal != 0" class="light green-color">{{ "Processed" | translate }}: <span class="heavy-text">{{ displayValue(this.firstCollection.processedTotal) }}</span></span>
                    <span *ngIf="firstCollection.refusedBank != 0" class="light red">{{"CancelledByBank" | translate}}: <span class="heavy-text">{{ displayValue(this.firstCollection.refusedBank) }}</span> </span>
                    <span *ngIf="firstCollection.cancelByGiver != 0" class="light grey">{{ "CancelledByUser" | translate}}: <span class="heavy-text">{{ displayValue(this.firstCollection.cancelByGiver) }}</span></span>
                  </div>

                 </td>
              </tr>
              <tr class="info-table__row" *ngIf="this.secondCollection.amountOfGivts != 0">
                <td><img src="images/personal-green.png" alt=""> {{ this.secondCollection.amountOfGivts }}</td>
                <td>
                  <div style="height: 40px;display: flex;justify-content: center;">
                    <div class="wrapping_inputlist">
                      <input (focus)="this.secondCollection.isTyping=true" (focusout)="onFocusOutOf(this.secondCollection);" autocomplete="off" (ngModelChange)="this.filterTags($event)" [class.info-table__input--false]="this.secondCollection.name == ''" class="info-table__input" type="text" name="collectName2" [(ngModel)]="this.secondCollection.name" placeholder="{{ 'Collection' | translate }} 2">
                      <ul *ngIf="secondCollection.isTyping" class="schedule__dialog__form__list">
                        <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" (click)="setCollectNameOf(item, this.secondCollection)" [innerHTML]="item"></li>
                      </ul>
                    </div>
                    <button style="margin-left: 10px;" class="info-table__button" [class.info-table__button--hidden]="secondCollection.state == ButtonState.Saved" [class.info-table__button--disabled]="this.secondCollection.name == '' " [disabled]="this.secondCollection.name == ''" (click)="updateEvent(this.secondCollection, '2')">{{'PW_Save' | translate}}</button>

                  </div>
                </td>
                <td class="incasso-state">
                  <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <span *ngIf="secondCollection.toProcessTotal != 0" class="light">{{ "Processing" | translate }}:  <span class="heavy-text">{{ displayValue(this.secondCollection.toProcessTotal) }}</span> </span>
                    <span *ngIf="secondCollection.processedTotal != 0" class="light green-color">{{ "Processed" | translate }}: <span class="heavy-text">{{ displayValue(this.secondCollection.processedTotal) }}</span></span>
                    <span *ngIf="secondCollection.refusedBank != 0" class="light red">{{"CancelledByBank" | translate}}: <span class="heavy-text">{{ displayValue(this.secondCollection.refusedBank) }}</span> </span>
                    <span *ngIf="secondCollection.cancelByGiver != 0" class="light grey">{{ "CancelledByUser" | translate}}: <span class="heavy-text">{{ displayValue(this.secondCollection.cancelByGiver) }}</span></span>
                  </div>

                </td>
              </tr>
              <tr class="info-table__row" *ngIf="this.thirdCollection.amountOfGivts != 0">
                <td><img src="images/personal-green.png" alt=""> {{ this.thirdCollection.amountOfGivts }}</td>
                <td>
                  <div style="height: 40px;display: flex;justify-content: center;">
                    <div class="wrapping_inputlist">
                      <input (focus)="this.thirdCollection.isTyping=true" (focusout)="onFocusOutOf(this.secondCollection);" autocomplete="off" (ngModelChange)="this.filterTags($event)" [class.info-table__input--false]="this.thirdCollection.name == ''" class="info-table__input" type="text" name="collectName3" [(ngModel)]="this.thirdCollection.name" placeholder="{{ 'Collection' | translate }} 3">
                      <ul *ngIf="this.thirdCollection.isTyping" class="schedule__dialog__form__list">
                        <li *ngFor="let item of filteredUsedTags" class="schedule__dialog__form__listitem" (click)="setCollectNameOf(item, this.thirdCollection)" [innerHTML]="item"></li>
                      </ul>
                    </div>
                    <button style="margin-left: 10px;" class="info-table__button" [class.info-table__button--hidden]="this.thirdCollection.state == ButtonState.Saved" [class.info-table__button--disabled]="this.thirdCollection.name == '' " [disabled]="this.thirdCollection.name == ''" (click)="updateEvent(this.thirdCollection, '3')">{{'PW_Save' | translate}}</button>

                  </div>
                </td>
                <td class="incasso-state">
                  <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <span *ngIf="thirdCollection.toProcessTotal != 0" class="light ">{{ "Processing" | translate }}: <span class="heavy-text">{{ displayValue(this.thirdCollection.toProcessTotal) }}</span> </span>
                    <span *ngIf="thirdCollection.processedTotal != 0" class="light green-color">{{ "Processed" | translate }}: <span class="heavy-text">{{ displayValue(this.thirdCollection.processedTotal) }}</span></span>
                    <span *ngIf="thirdCollection.refusedBank != 0" class="light red">{{"CancelledByBank" | translate}}: <span class="heavy-text">{{ displayValue(this.thirdCollection.refusedBank) }}</span> </span>
                    <span *ngIf="thirdCollection.cancelByGiver != 0" class="light grey">{{ "CancelledByUser" | translate}}: <span class="heavy-text">{{ displayValue(this.thirdCollection.cancelByGiver) }}</span></span>
                  </div>

                </td>
              </tr>
            </table>
            <div style="float: right;padding: 15px;box-sizing:border-box;">
              <button style="height: 44px;margin-right:15px;" class="info-table__button" (click)="saveAllEvents()">Sla deze toewijzingen op</button>
              <button style="height: 44px;" class="info-table__button info-table__button--danger" (click)="deleteEvent()">Verwijder deze toewijzingen</button>
            </div>
          </div>
        </div>


        <button (click)="resetAll(false)" class="close-button"><img src="images/close.png" alt=""></button>
      </form>
      <!--
      <form *ngIf="" action="" class="schedule__dialog___form--delete">
        <h3>{{"DeleteCollectConfirm" | translate}}</h3>
        <button class="schedule__dialog__form--submit submit-enabled" type="submit" (click)="deleteEvent()">{{ "YesImSure" | translate}}</button>
        <button class="schedule__dialog__form--submit submit-enabled" type="submit" (click)="resetAll(false)">{{ "NoNeverMind" | translate}}</button>
      </form>
      -->

    </div>
    <div class="error__message" *ngIf="errorShown">
      <div class="error__message--inner">
        <h3>{{"OverlapError" | translate}}</h3>
        <button class="schedule__dialog__form--submit submit-enabled no-margin" (click)="toggleError(false)">{{ "PW_GoBack" | translate}}</button>
      </div>
    </div>
  </div>

</div>

<my-footer></my-footer>
