<div class="global-layout">
    <my-navigation></my-navigation>
    <div class="global-layout-content">
        <my-titlebar></my-titlebar>
        <div class="global-layout-main container">
            <div id="tabulator-div">
                    <h2 *ngIf="hasErrors()" class="text--danger">{{ 'CollectRosterError' | translate }}</h2>
                <form class="roster-form" [formGroup]="form" *ngIf="form">
                    <div class="items roster-body col-md-12" formArrayName="collects">
                        <div class="roster-controls roster-title">
                            <div class="col-md-4"></div>
                            <h2 class="col-md-4">{{ 'CollectRosterTitle' | translate }}</h2>
                            <div class="col-md-4 px-0 mx-0 roster-control">
                                <button class="col-md-4" analytics category="Nieuw collecterooster"
                                    eventName="Collecterooster - Toevoegen nieuwe rij - knop linksonderaan"
                                    (click)="addEmptyRow()">
                                    <i class="fa fa-plus"></i>{{ 'CollectRosterBtnAdd' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="loading-wrapper show-loading-animation" *ngIf="loading">
                            <div class="loader" >
                              <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
                              </svg>
                            </div>
                          </div>
                        <div class="roster-header row">
                            <div class="header-title col-sm-3 col-md-3">{{ 'CollectRosterHeaderStartDate' | translate }}</div>
                            <div class="header-title col-sm-3 col-md-3">{{ 'CollectRosterHeaderEndDate' | translate }}</div>
                            <div class="header-title col-sm-3 col-md-3">{{ 'CollectRosterHeaderName' | translate }}</div>
                            <div class="header-title col-sm-2 col-md-2">{{ 'CollectRosterHeaderCollectId' | translate }}</div>
                            <div class="header-title col-sm-1 col-md-1 header-title-control"></div>
                        </div>
                        <div class="roster-container">
                            <div class="roster-row row"
                                [class.invalid-row]="control.get('collectId').errors?.required || control.errors?.invalidDate || control.errors?.overlap || control.get('dtBegin').errors?.inValidMinutes || control.get('dtEnd').errors?.inValidMinutes"
                                *ngFor="let control of form.get('collects').controls; let i = index"
                                [formGroupName]="i">
                                <input class="col-sm-3 col-md-3" type="datetime-local" formControlName="dtBegin" max="9999-12-31T23:59" />
                                <input class="col-sm-3 col-md-3" type="datetime-local" formControlName="dtEnd" max="9999-12-31T23:59" />
                                <input class="col-sm-3 col-md-3" type="text" formControlName="name" />
                                <select formControlName="collectId" id=""
                                    class="col-sm-2 col-md-2 custom-select custom-select-sm">
                                    <option *ngFor="let number of [1, 2, 3]" [value]="number">{{ number }}</option>
                                </select>
                                <div class="col-sm-1 col-md-1 row-control remove">
                                    <div class="row mx-0 w-100">
                                        <div class="col-md-12">
                                            <div class="col-sm-4 col-md-4 row-control-sub">
                                                <i class="fa fa-plus" analytics category="Nieuw collecterooster"
                                                    eventName="Collecterooster - Toevoegen nieuwe rij"
                                                    (click)="addEmptyRow(i)" tooltip="Insert"></i>
                                            </div>
                                            <div class="col-sm-4 col-md-4 row-control-sub">
                                                <i class="fa fa-copy" analytics category="Nieuw collecterooster"
                                                    eventName="Collecterooster - Kopieren rij" (click)="copyRow(i)"></i>
                                            </div>
                                            <div class="col-sm-4 col-md-4 row-control-sub">
                                                <i class="fa fa-times" analytics category="Nieuw collecterooster"
                                                    eventName="Collecterooster - Rij verwijderen"
                                                    (click)="removeRow(i)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="roster-controls">
                            <my-paginator (paginatorChanged)="getRows($event)"
                                [rowsOnPage]="form.get('collects').controls.length"
                                [(totalNumberOfPages)]="currentTotalNumberOfPages"
                                [totalCount]="currentTotalCountOfRows"></my-paginator>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <my-footer></my-footer>
    </div>
</div>