<my-navigation></my-navigation>
<section class="section-collects">
    <h2>{{"Text_Collectes_Title" | translate}}</h2>
    <h3>{{"Text_Collectes_Subtitle" | translate}}</h3>
    <section class="collects-pickdate">
        <p-calendar readonlyInput="readonlyInput" inputStyleClass="date-picker-input" [(ngModel)]="dateBegin" (ngModelChange)="onDateBeginChange($event)" showTime="showTime" dateFormat="dd/mm/yy" [locale]="locale"></p-calendar>
        <p-calendar readonlyInput="readonlyInput" inputStyleClass="date-picker-input" [(ngModel)]="dateEnd"  (ngModelChange)="onDateEndChange($event)" [(minDate)]="dateBegin" showTime="showTime" dateFormat="dd/mm/yy" [locale]="locale"></p-calendar>
    </section>
    <button (click)="fetchCollect()" class="search-collect">{{"Text_Collectes_FilterButton" | translate}}</button>
    </section>
<hr *ngIf="isVisible" class="collect-hr"/>
<section class="section-collects" *ngIf="isVisible">
    <section  class="show-collect">
        <time>
            <input [attr.placeholder]="'Placeholder_Offering_Name' | translate" type="text"  value="{{collectTitle}}" class="input-collect-title" [(ngModel)]="collectName"/>
            <span *ngIf="!sameDate" class="date">{{ dateBeginRange.string }} - {{ dateEndRange.string }}</span>
            <span *ngIf="sameDate" class="date">{{ dateBeginRange.string }}</span>
            <span class="time">{{ dateBeginRange.time }} - {{ dateEndRange.time  }}</span>
            <span *ngIf="showCosts">

            </span>
        </time>
        <div class="collection-buttons">
            <span>{{value}}</span>

            <button class="icon" [class.fill-green]="showCosts == true" (click)="showCosts = !showCosts">

                <svg width="23px" height="23px" viewBox="8 8 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <path  d="M9.00761688,21.0025814 C9.53265354,26.5888828 14.2352667,30.9603199 19.9588837,30.9603199 C22.6363805,30.9603199 25.090446,30.0036964 26.9979399,28.4135896 L19.5869317,21.0025814 L9.00761688,21.0025814 Z M9,19.0025814 C9.45855668,13.6859391 13.6990295,9.4505879 19.0179464,9 L19.0179464,19.0018685 C19.0177045,19.0021045 19.0174628,19.0023406 19.0172212,19.0025769 L9,19.0025814 Z M28.4121534,26.9993761 C30.0022602,25.0918822 30.9588837,22.6378167 30.9588837,19.9603199 C30.9588837,14.2424422 26.5962091,9.54352172 21.0179464,9.01064508 L21.0179464,19.5461063 C21.0179464,19.5653854 21.0174008,19.5845372 21.0163242,19.6035469 L28.4121534,26.9993761 Z" id="Combined-Shape" stroke="none" fill="#FFFFFF " fill-rule="evenodd"></path>
                </svg>
            </button>
            <button class="icon delete-btn" (click)="deleteCollect(collectId)">
                <svg  width="21px" height="23px" viewBox="9 9 21 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <path d="M10.1148951,11 C10.1148951,11 9.59091014,11 9.59090909,12 C9.59090909,13 10.1148951,13 10.1148951,13 L28.9305595,13 C28.9305595,13 29.4545455,13 29.4545455,12 C29.4545455,11 28.9305595,11 28.9305595,11 L10.1148951,11 L10.1148951,11 Z M10.6089257,15 L28.381653,15 L26.2907439,31 L12.6998348,31 L10.6089257,15 Z" id="editor-trash-delete-recycle-bin-glyph" stroke="none" fill="#FFFFFF " fill-rule="evenodd"></path>
                    <path d="M22,11.5 C22,10.1192881 20.8807119,9 19.5,9 C18.1192881,9 17,10.1192881 17,11.5 C17,12.8807119 22,12.8807119 22,11.5 Z" id="Oval-5" stroke="none" fill="#FFFFFF " fill-rule="evenodd"></path>
                </svg>
            </button>
            <button (click)="saveCollect()" class="search-collect save-collect" [disabled]="!this.collectName || this.collectName.length == 0">{{"Text_Collectes_SaveButton" | translate}}</button>
        </div>

    </section>
    <div class="withholding-overview" *ngIf="showCosts">
            <h2>{{"Text_OverviewDeduction" | translate}}</h2>
            <button class="close-button" (click)="showCosts = !showCosts">
                {{"Text_Deduction_CloseButton" | translate}} <svg width="19px" height="19px" viewBox="944 525 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="1477510223_icon-close-round" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(944.000000, 525.000000)">
                        <path d="M18.154652,15.6902032 L11.8313314,9.36688256 L18.154652,3.04356195 C18.8373382,2.36087573 18.8373382,1.26179933 18.154652,0.579113112 C17.4719658,-0.10357311 16.3728894,-0.10357311 15.6902032,0.579113112 L9.36688256,6.90243371 L3.04356195,0.579113112 C2.36087573,-0.10357311 1.26179933,-0.10357311 0.579113112,0.579113112 C-0.10357311,1.26179933 -0.10357311,2.36087573 0.579113112,3.04356195 L6.90243371,9.36688256 L0.579113112,15.6902032 C-0.10357311,16.3728894 -0.10357311,17.4719658 0.579113112,18.154652 C1.26179933,18.8373382 2.36087573,18.8373382 3.04356195,18.154652 L9.36688256,11.8313314 L15.6902032,18.154652 C16.3728894,18.8373382 17.4719658,18.8373382 18.154652,18.154652 C18.8324965,17.4719658 18.8324965,16.3680476 18.154652,15.6902032 L18.154652,15.6902032 Z" id="Shape" fill="#2C2B57 "></path>
                    </g>
                </svg>
            </button>
        <div class="withholding-stats">
            <div class="stat-comp">
                <table class="table-stats" border="0">

                    <tr (click)="selectRow(1)" class="row" [class.active-row]="1 == activeRow">
                        <td><i class="fa fa-circle givt-blue" aria-hidden="true"></i></td>
                        <td>{{"Text_Transaction_Fee" | translate}}</td>
                        <td>€ {{mandateCount * costPerMandate + transactionCount * costPerTransaction}}</td>
                        <!--<td><div class="tooltip"><i class="fa fa-info-circle fa-lg " aria-hidden="true"></i>
                            <span class="blue tooltiptext">(...) aantal transacties maal <b>€ 0,08 transactiekosten</b>. (...) nieuwe gebruikers maal (<b>4x€ 0,125</b>) <b>mandaatkosten</b>.<hr/><b>{{paymentProviderTransactionCost}}</b></span>
                        </div></td>-->
                    </tr>
                    <tr (click)="selectRow(2)" class="row" [class.active-row]="2 == activeRow">
                        <td><i class="fa fa-circle givt-orange" aria-hidden="true"></i></td>
                        <td>{{"Text_Stornering_Fee" | translate}}</td>
                        <td>€ 0,00</td>
                        <!--
                        <td><div class="tooltip"><i class="fa fa-info-circle fa-lg " aria-hidden="true"></i>
                            <span class="orange tooltiptext">(..) storneringen maal € 0,18 type 1. (..) storneringen maal € 1,20 type 2. + (debet bedragen)<hr/>€ 0,00</span>
                        </div></td>-->
                    </tr>
                    <tr (click)="selectRow(3)" class="row" [class.active-row]="3 == activeRow">
                        <td><i class="fa fa-circle givt-green" aria-hidden="true"></i></td>
                        <td>{{"Text_Givt_Fee" | translate}}</td>
                        <td>{{givtServiceCost}}</td>
                        <!-- <td><div class="tooltip"><i class="fa fa-info-circle fa-lg " aria-hidden="true"></i>
                             <span class="green tooltiptext">{{value}} maal <b>4,5% kosten per donatie</b>.<hr/><b>{{givtServiceCost}}</b></span>
                         </div></td>-->
                    </tr>
                </table>
            </div>
            <div class="stat-calc" *ngIf="1 == activeRow">
                <table>
                    <tr>
                        <td>{{ "Text_Transaction_Fee_Mandate" | translate}}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ {{mandateCount * costPerMandate}}</td>
                        <td class="column-spacing-40"></td>
                        <td>{{ Text_Info_Mandate }}</td>
                    </tr>
                    <tr>
                        <td>{{"Text_Transaction_Fee_Transaction" | translate }}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ {{transactionCount * costPerTransaction}}</td>
                        <td class="column-spacing-40"></td>
                        <td>{{Text_Info_Transaction}}</td>
                    </tr>
                    <tr>
                        <td>{{"Text_Fee_Total" | translate}}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ {{mandateCount * costPerMandate + transactionCount * costPerTransaction}}</td>
                        <td class="column-spacing-40"></td>
                        <td class="more-info tooltip">{{"Text_Deduction_InfoButton" | translate}}
                            <span class="green tooltiptext">
                                {{"Text_Deduction_InfoButton" | translate }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="stat-calc" *ngIf="2 == activeRow">
                <table>
                    <tr>
                        <td>{{"Text_Deduction_Type1" | translate}}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ 0</td>
                        <td class="column-spacing-40"></td>
                        <td>{{Text_Info_Type1}}</td>
                    </tr>
                    <tr>
                        <td>{{"Text_Deduction_Type2" | translate}}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ 0</td>
                        <td class="column-spacing-40"></td>
                        <td class="big-cell">{{Text_Info_Type2}}</td>
                    </tr>
                    <tr>
                        <td>{{"Text_Fee_Total" | translate}}</td>
                        <td class="column-spacing-30"></td>
                        <td>€ 0</td>
                        <td class="column-spacing-40"></td>
                        <td class="more-info tooltip">{{"Text_Deduction_InfoButton" | translate}}
                            <span class="green tooltiptext">
                                {{"Text_Deduction_InfoButton" | translate }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="stat-calc" *ngIf="3 == activeRow">
                <table>
                    <tr>
                        <td>Givt service fee</td>
                        <td class="column-spacing-30"></td>
                        <td>{{givtServiceCost}}</td>
                        <td class="column-spacing-40"></td>
                        <td class="more-info tooltip">{{"Text_Deduction_InfoButton" | translate }}
                            <span class="green tooltiptext">
                                {{"Text_Deduction_InfoButton" | translate }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>


            <!--
            <span>{{givtServiceCost}}</span>
            <span>{{paymentProviderTransactionCost}}</span>-->
        </div>
    </div>
</section>
<section class="saved-collects">
    <h2>{{"Text_Saved_collectes" | translate}}</h2>
    <h3 *ngIf="savedCollects.length == 0">{{"Text_NoSavedCollectes" | translate}}</h3>

    <section class="collects-list" *ngIf="savedCollects.length > 0">
        <section *ngFor="let collect of savedCollects" class="show-collect" (click)="selectCollect(collect)">
            <time>
                <span class="date">{{collect.Name}}</span>
                <span *ngIf="collect.BeginDateString == collect.EndDateString" class="date">{{collect.BeginDateString}}</span>
                <span *ngIf="collect.BeginDateString != collect.EndDateString" class="date">{{collect.BeginDateString}} - {{collect.EndDateString}}</span>
                <span class="time">{{collect.BeginTimeString}} - {{collect.EndTimeString}}</span>
            </time>
                <div class="arrow-right"></div>
        </section>
</section>

</section>