<my-navigation></my-navigation>
<section class="section-collects">
    <h2>{{"Text_Collectes_Title" | translate}}</h2>
    <h3>{{"Text_Collectes_Subtitle" | translate}}</h3>
    <section class="collects-pickdate">
        <p-calendar [inputStyle]="{'width':'380px','padding': '8px 16px', 'box-sizing':'border-box','border-radius':'0'}" [(ngModel)]="dateBegin" (ngModelChange)="onDateBeginChange($event)" showTime="showTime" dateFormat="dd/mm/yy"></p-calendar>
        <p-calendar [inputStyle]="{'width':'380px','padding': '8px 16px', 'box-sizing':'border-box','border-radius':'0'}" [(ngModel)]="dateEnd"  (ngModelChange)="onDateEndChange($event)" [(minDate)]="dateBegin" showTime="showTime" dateFormat="dd/mm/yy"></p-calendar>
    </section>
    <button (click)="fetchCollect()" class="search-collect">{{"Text_Collectes_FilterButton" | translate}}</button>
    </section>
<hr class="collect-hr"/>
<section class="section-collects">
    <section *ngIf="isVisible" class="show-collect">
        <time>
            <span *ngIf="!sameDate" class="date">{{ dateBeginRange | date:'d MMMM y'  }} - {{ dateEndRange | date:'d MMMM y'  }}</span>
            <span *ngIf="sameDate" class="date">{{ dateBeginRange | date:'d MMMM y'  }}</span>
            <span class="time">{{ dateBeginRange | date:'HH:mm'  }} - {{ dateEndRange | date:'HH:mm'  }}</span>
        </time>
        <span>{{value}}</span>
    </section>
</section>