<my-navigation></my-navigation>
<section class="section-dashboard">
    <div class="loading-wrapper" [ngClass]="{'show-loading-animation': ShowLoadingAnimation }">
        <div class="windows8">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
    <article *ngIf="donutCard">
        <div id="h">
            <p class="card-title">{{donutcardTitle}}</p>
            <div id="donutchart"></div>
            <div id="test">
                <span [innerHTML]="donutcardValue"></span>
                <p t="Text_Collected">{{donutcardFooter}}</p>
            </div>
        </div>
    </article>
    <article *ngFor="let card of cards">
        <div>
            <p class="card-title">{{card.title}}</p>
            <p class="card-subtitle"><span>{{card.subtitle}}</span></p>
            <p class="card-subtitle" [innerHTML]="card.value"></p>
            <p class="card-subtitle">{{card.footer}}</p>
        </div>
    </article>

</section>
<my-footer></my-footer>
