<my-navigation></my-navigation>
<section class="section-dashboard">
    <article *ngIf="donutCard">
        <div id="h">
            <p class="card-title">{{donutcardTitle}}</p>
            <div id="donutchart"></div>
            <div id="test">
                <span>{{donutCardValue}}</span>
                <p t="Text_Collected">{{donutcardFooter}}</p>
            </div>
        </div>
    </article>
    <article *ngFor="let card of cards">
        <div>
            <p class="card-title">{{card.title}}</p>
            <p class="card-subtitle"><span>{{card.subtitle}}</span></p>
            <p class="card-subtitle"><span class="fat-emphasis">{{card.value}}</span></p>
            <p class="card-subtitle">{{card.footer}}</p>
        </div>
    </article>

</section>