<my-navigation></my-navigation>
<section class="section-collects">
    <h2>{{title}}</h2>
    <h3>{{subtitle}}</h3>
    <div class="search-org">
      <form>
        <div class="search-content">
            <input [(ngModel)]="search" (ngModelChange)="change($event)" type="text">
            <div class="search-results" *ngIf="filteredOrganisations">
                <ul>
                    <li *ngFor="let i of filteredOrganisations" (click)="select(i)">{{i.name}}, {{i.city}}</li>
                </ul>
            </div>

        </div>
        <button (click)="searchOrg()" type="submit" [class.disabled]="disabled">{{searchBtn}}</button>
      </form>
    </div>
    <hr class="collect-hr"/>
    <div *ngIf="selectedOrganisation">
        <h2>{{selectedOrganisation.name}}</h2>
        <section class="flex-section">
            <article>
                <table class="table">
                    <tr>
                        <td [class.warning]="!selectedOrganisation.name">Naam</td>
                        <td>{{selectedOrganisation.name}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.name">Naam in app</td>
                        <td>{{selectedOrganisation.cf_value_93168}}</td>
                    </tr>
                    <tr>
                        <td>Aangesloten sinds</td>
                        <td>{{selectedOrganisation.date_added}}</td>
                    </tr>
                    <tr >
                        <td>Mandaatstatus</td>
                        <td *ngIf="selectedOrganisation.mandate_status">{{selectedOrganisation.mandate_status.PayProvMandateStatus}}</td>
                    </tr>
                    <tr >
                        <td>Incassostatus</td>
                        <td>{{incassoStatus}}</td>
                    </tr>
                </table>
            </article>
        </section>
        <section class="flex-section">
            <article>
                <table class="table">
                    <tr>
                        <th colspan="2">Mandaatgegevens</th>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_93485">Familienaam</td>
                        <td>{{selectedOrganisation.cf_value_93485}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_93769">Voornaam</td>
                        <td>{{selectedOrganisation.cf_value_93769}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_93495">Email</td>
                        <td>{{selectedOrganisation.cf_value_93495}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_95707">Bedrijfsnaam</td>
                        <td>{{selectedOrganisation.cf_value_95707}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_93494">GSM nr</td>
                        <td>{{selectedOrganisation.cf_value_93494}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.cf_value_93537">Gemachtigd IBAN</td>
                        <td>{{selectedOrganisation.cf_value_93537}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.street">Straat</td>
                        <td>{{selectedOrganisation.street}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.city">Stad</td>
                        <td>{{selectedOrganisation.city}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.zipcode">Postcode</td>
                        <td>{{selectedOrganisation.zipcode}}</td>
                    </tr>
                    <tr>
                        <td [class.warning]="!selectedOrganisation.country">Land</td>
                        <td>{{selectedOrganisation.country}}</td>
                    </tr>
                </table>
            </article>
            <article class="buttons">
                <button (click)="openCRM()" >Vervolledig gegevens in CRM</button>
                <button [class.disabled]="this.selectedOrganisation.mandate_status" (click)="registerMandate()">Mandaat aanvragen</button>
                <button [class.disabled]="!this.selectedOrganisation.mandate_status || this.incassoStatus" (click)="startIncasso()">Start incasso</button>
                <button [class.disabled]="" (click)="registerOrganisation()" >Kerk registreren</button>
            </article>
        </section>
    </div>

</section>