<my-alert></my-alert>


<div id="wrapper">
  <div id="sidebar-wrapper">
    <aside id="sidebar">
      <ul id="sidemenu" class="sidebar-nav">
        <li><a>Givt</a></li>
        <li *ngIf="showDashboardItems">
          <a routerLink="/dashboard" routerLinkActive="active">
            <span class="sidebar-icon"><i class="fa fa-area-chart"></i></span>
            <span class="sidebar-title">{{"Menu_Overview" | translate}}</span>
          </a>
        </li>
        <li *ngIf="showDashboardItems">
          <a routerLink="/collects" routerLinkActive="active">
            <span class="sidebar-icon"><i class="fa fa-history"></i></span>
            <span class="sidebar-title">{{"Menu_Collectes" | translate}}</span>
          </a>
        </li>
        <li *ngIf="showDashboardItems">
          <a routerLink="/payouts" routerLinkActive="active">
            <span class="sidebar-icon"><i class="fa fa-calculator"></i></span>
            <span class="sidebar-title">{{"Payout_Title" | translate}}</span>
          </a>
        </li>
        <li *ngIf="showDashboardItems">
          <a routerLink="/assign" routerLinkActive="active">
            <span class="sidebar-icon"><i class="fa fa-calendar-check-o"></i></span>
            <span class="sidebar-title">{{"Menu_Allocate" | translate}}</span>
          </a>
        </li>
        <li *ngIf="showMandateLink">
          <a routerLink="/mandate" routerLinkActive="active">
            <span class="sidebar-icon"><i class="fa fa-book"></i></span>
            <span class="sidebar-title">Mandaten</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <div id="nav-wrapper">
    <div class="nav-title">
      <p class="nav-title-heading" (click)="toggleDropdown()">{{currentCollectGroup.Name}}
        <i class="fa fa-caret-down"></i>
      </p>
    </div>
    <div class="nav-title-dropdown" *ngIf="isDropDownOpen">
      <ul *ngIf="collectGroups.length > 1">
        <li class="list-org" *ngFor="let cg of collectGroups" (click)="setCollectGroup(cg)" [class.hidden]="cg.Name == currentCollectGroup.Name">
          <a>
            {{cg.Name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


