<my-alert></my-alert>
<nav>
    <div class="menu-wrapper">
        <h1>
          <span>{{currentCollectGroup.Name}}</span>
          <button *ngIf="collectGroups.length > 1" class="dropdown-arrow">
            <svg width="24px" height="15px" viewBox="0 0 24 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Kiezen-voor-welke-organisatie" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                <g id="Overzichtspagina" transform="translate(-363.000000, -34.000000)" stroke="#FFFFFF" stroke-width="4">
                  <g id="Group-7">
                    <g id="Group-18" transform="translate(375.000000, 41.000000) rotate(-90.000000) translate(-375.000000, -41.000000) translate(370.000000, 32.000000)">
                      <path d="M0.557359313,9.04264069 L9.04264069,0.557359313" id="Line"></path>
                      <path d="M0.6,9 L9.08528137,17.4852814" id="Line-Copy-2"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </button>

          <div *ngIf="collectGroups.length > 1" class="pick-organisation">
            <ul class="list-orgs">
              <li class="list-org" *ngFor="let cg of collectGroups" (click)="setCollectGroup(cg)" [class.hidden]="cg.Name == currentCollectGroup.Name">
                {{cg.Name}}
              </li>
            </ul>
          </div>
        </h1>

        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active">{{"Menu_Overview" | translate}}</a></li>
            <li><a routerLink="/collects" routerLinkActive="active">{{"Menu_Collectes" | translate}}</a></li>
            <li><a routerLink="/payouts" routerLinkActive="active">{{ "Payout_Title" | translate}}</a></li>
          <li><a routerLink="/assign" routerLinkActive="active">{{ "Menu_Allocate" | translate }}</a></li>
          <li *ngIf="showMandateLink" ><a routerLink="/mandate" routerLinkActive="active">Mandaten</a></li>

        </ul>
        <span class="menu-settings" (click)="logout()">
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                   <g id="Uitloggen-icoon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                       <g id="Group-4">
                           <rect id="Rectangle-2" x="0" y="0" width="24" height="24"></rect>
                           <polygon id="Rectangle" fill="#C0BFCC" transform="translate(16.000000, 12.000000) rotate(-45.000000) translate(-16.000000, -12.000000) " points="20 8 20 16 12 16"></polygon>
                           <polygon id="Line-Copy-4" fill="#C0BFCC" points="14 14 16 14 16 10 14 10 8 10 6 10 6 14 8 14"></polygon>
                       </g>
                       <g id="Group-3" transform="translate(2.000000, 3.000000)" fill="#C0BFCC">
                           <polygon id="Line" points="13 2 14 2 14 0 13 0 1 0 0 0 0 2 1 2"></polygon>
                           <polygon id="Line-Copy-6" points="0 16.9672852 0 17.9672852 2 17.9672852 2 16.9672852 2 1 2 0 0 0 0 1"></polygon>
                           <polygon id="Line-Copy-3" points="13 18 14 18 14 16 13 16 1 16 0 16 0 18 1 18"></polygon>
                       </g>
                   </g>
                </svg>
            <span>{{"Text_Logout" | translate}}</span></span>

    </div>

</nav>

