<!-- <link href="/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet"> -->

<div class="givt-paginator">
    <div class="page-up" (click)="paginatorChanges(1)">
        <i class="fa fa-arrow-up"></i> Page up
    </div>
    <div class="page-down" (click)="paginatorChanges(0)">
        <i class="fa fa-arrow-down"></i> Page down
    </div>
    <div class="select-items">
        <select (change)="paginatorChanges($event.target.value)">
            <option *ngFor="let number of [10, 20, 30, 40]" [value]="number">{{number}}</option>
        </select>
        Rows per page 
    </div>
</div>
