<my-alert></my-alert>
<div class="global-layout">
    <my-navigation></my-navigation>
    <div class="global-layout-content">
        <my-titlebar></my-titlebar>
        <section class="section-collects" style="width: 100vw; max-width: 960px; margin: 0 auto; padding: 20px; box-sizing: border-box;">


            <div style="text-align: center" >
                <h2>Stel een feestgift in over:</h2>
                <select [(ngModel)]="selectedValue" name="selectedValue" class="dropdown">
                    <option value="-1">-- Tik of klik om een tijd te kiezen --</option>
                    <option value="30">30 seconden</option>
                    <option value="60">1 minuut</option>
                    <option value="120">2 minuten</option>
                    <option value="180">3 minuten</option>
                    <option value="240">4 minuten</option>
                    <option value="300">5 minuten</option>
                    <option value="600">10 minuten</option>
                    <option value="1800">30 minuten</option>
                </select>
                <button [class.disabled]="!allowSaving" class="save" (click)="save()">Opslaan</button>
            </div>

            <p class="text warning-text" style="color: #bc1414; padding-top: 10px; background-color: #bcb9c8;"><span style="font-family: Avenir_Heavy">Let op:</span> slechts 1 geefmoment wordt opgeslagen. Een nieuwe opslaan terwijl er een moment loopt, zal de oude verwijderen.</p>

            <div *ngIf="timeSet != ''" style="text-align: center;">
                <span *ngIf="timeRemaining != null"><p class="text heavy">Het feestmoment werd ingesteld op: <span style="white-space: nowrap">{{ timeSet }}</span></p></span>
              <p *ngIf="timeRemaining == null" class="text heavy">Het feestmoment is afgelopen</p>
                <p *ngIf="timeRemaining != null" class="text heavy" style="font-size: 40px; color: #46bc8f;">{{ timeRemaining }}</p>
                <img *ngIf="timeRemaining == null" src="images/Givy-Feest.png" style="max-width: 300px; margin-bottom: 10px;" />
                <br>
              <button (click)="delete()" class="save">Verwijder geefmoment</button>
            </div>

        </section>
        <my-footer></my-footer>
    </div>
</div>

