<my-alert></my-alert>
<div class="global-layout">
    <my-navigation></my-navigation>
    <div class="global-layout-content">
        <my-titlebar></my-titlebar>
        <section class="section-collects" style="width: 100vw; max-width: 960px; margin: 0 auto; padding: 20px; box-sizing: border-box;">
            <h2>Feestmoment instellen</h2>
            <p class="text">Op deze pagina kan je een geefmoment instellen. Een geefmoment is een tijdstip die je instelt. Als dit is ingesteld en gevers aan jouw organisatie geven, dan zal er een timer aftellen in de app. Als de timer 0 bereikt, zullen alle gebruikers die hun app nog open hadden staan het feestmoment met flash en trilfunctie meemaken.</p>
            <p class="text">Gebruik dit dus best niet op zondagochtend... 😉</p>
            <hr class="collect-hr"/>

            <div style="text-align: center" >
                <h2>Stel een feestgift in over:</h2>
                <select [(ngModel)]="selectedValue" name="selectedValue" class="dropdown">
                    <option value="-1">-- Tik of klik om een tijd te kiezen --</option>
                    <option value="30">30 seconden</option>
                    <option value="60">1 minuut</option>
                    <option value="120">2 minuten</option>
                    <option value="180">3 minuten</option>
                    <option value="240">4 minuten</option>
                    <option value="300">5 minuten</option>
                    <option value="600">10 minuten</option>
                    <option value="1800">30 minuten</option>
                </select>
                <button [class.disabled]="!allowSaving" class="save" (click)="save()">Opslaan</button>
            </div>
            <div *ngIf="timeSet != ''" style="text-align: center;">
                <p class="text heavy">Het feestmoment werd ingesteld op: <span style="white-space: nowrap">{{ timeSet }}</span></p>
                <p class="text heavy" style="font-size: 40px; color: #46bc8f;"> 30</p>
                <button (click)="delete()" class="save">Verwijder geefmoment</button>
            </div>


            <p class="text" style="color:darkred;"><span style="font-family: Avenir_Heavy">Let op:</span> een moment kan niet meer geannuleerd worden als gebruikers al gegeven hebben aan deze organisatie. De teller zal dan gewoon wel verder aftellen.</p>
        </section>
        <my-footer></my-footer>
    </div>
</div>

