<my-alert></my-alert>
<div class="global-layout">
    <my-navigation></my-navigation>
    <div class="global-layout-content">
        <my-titlebar></my-titlebar>

        <div class="QRCode_screen">
            <div class="QRCode QRCode1" *ngIf="currentQuestionId == 1" id="question-1">
                <div class="QRCode_Titlebar">
                    <div class="QRCode_Titlebar_middle">
                        <h2>Aanvraag QR code</h2>
                    </div>
                </div>
                <div class="QRCode_Info">
                    <div class="QRCode_Info_Picture">
                        <img src="images/QR-sample.png" alt="Sample QR-code">
                    </div>
                    <div class="QRCode_Info_Text">
                        <p class="subtitle subtitle-first">U kunt Een QR-code gemakkelijk gebruiken in de volgende
                            situaties:</p>
                        <ul>
                            <li>Aan de deur</li>
                            <li>Op een collecte bus</li>
                            <li>In de kerk</li>
                        </ul>
                        <p class="subtitle">Vraag nu je gratis QR-code aan en ontvang ze via mail.</p>

                    </div>
                </div>
                <div class="QRCode_Buttons">
                    <button class="btn btn-green" (click)="showNextQuestion()">Generieke QR-code</button>
                </div>
            </div>

            <div class="QRCode QRCode2" *ngIf="currentQuestionId == 2" id="question-1">
                <div class="QRCode_Titlebar">
                    <div class="QRCode_Titlebar_left" (click)="showPreviousQuestion()">
                        <i class="fas fa-chevron-left arrow"></i>
                    </div>
                    <div class="QRCode_Titlebar_middle">
                        <h2>Aanvraag QR code</h2>
                    </div>
                    <div class="QRCode_Titlebar_right">
                    </div>
                </div>
                <div class="QRCode_Info">
                    <div class="QRCode_Info_Picture">
                        <img src="images/QR-sample.png" alt="Sample QR-code">
                    </div>
                    <div class="QRCode_Info_Text">
                        <p class="subtitle subtitle-first">Generieke QR</p>
                        <ul>
                            <li>1 Code voor alles</li>
                            <li>Giften achteraf toewijzen</li>
                            <li>Flexibel in gebruik</li>
                        </ul>
                        <p class="subtitle">Specifieke QR</p>
                        <ul>
                            <li>Meerdere codes mogelijk</li>
                            <li>Giften vooraf toegewezen</li>
                            <li>Kan niet gewijzigd worden</li>
                        </ul>
                    </div>
                </div>
                <div class="QRCode_Buttons">
                    <button class="btn btn-green" (click)="showNextQuestion()">Generieke QR-code</button>
                    <button class="btn btn-blue" (click)="showNextQuestion()">Specifieke QR-code</button>
                </div>
            </div>

            <div class="QRCode QRCode3" *ngIf="currentQuestionId == 3" id="question-1">
                <div class="QRCode_Titlebar">
                    <div class="QRCode_Titlebar_left" (click)="showPreviousQuestion()">
                        <i class="fas fa-chevron-left arrow"></i>
                    </div>
                    <div class="QRCode_Titlebar_middle">
                        <h2>Aanvraag QR code</h2>
                    </div>
                    <div class="QRCode_Titlebar_right">
                    </div>
                </div>
                <div class="QRCode_Info">
                    <div class="QRCode_Info_Text">
                        <p class="subtitle subtitle-first">Stel hier uw collectedoelen in</p>
                        <p>Per ingesteld doel ontvangt u<br>1 Specifieke QR-code.</p>

                        <table>
                            <tr *ngFor="let field of fieldArray; let i = index; trackBy:trackByFn">
                                <td>
                                    <input class="textbox" type="text" name="{{field}}"
                                        placeholder="Typ hier collectedoel" [(ngModel)]="fieldArray[i]"
                                        (ngModelChange)="onChange($event)" />
                                </td>
                                <td class="delete-row" *ngIf="fieldArray.length>1"><i class="far fa-trash-alt"
                                        (click)="deleteFieldValue(i)"></i></td>
                            </tr>
                            <tr class="add-row">
                                    <td (click)="addFieldValue()">
                                    <i class="fas fa-plus-circle"></i>
                                    </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="QRCode_Buttons">
                    <button class="btn btn-green" (click)="showNextQuestion()">Generieke QR-code</button>
                </div>
            </div>

            <div class="QRCode QRCode4" *ngIf="currentQuestionId == 4" id="question-1">
                <div class="QRCode_Titlebar">
                    <div class="QRCode_Titlebar_left" (click)="showPreviousQuestion()">
                        <i class="fas fa-chevron-left arrow"></i>
                    </div>
                    <div class="QRCode_Titlebar_middle">
                        <h2>Aanvraag QR code</h2>
                    </div>
                    <div class="QRCode_Titlebar_right">
                    </div>
                </div>
                <div class="QRCode_Info">
                    <div class="QRCode_Info_Text QRCode_Info_Text1">
                        <p class="subtitle subtitle-first">De volgende QR-codes worden door u aangevraagd</p>
                        <ul>
                            <li >1 Code voor alles</li>
                            <li>Giften achteraf toewijzen</li>
                            <li>Flexibel in gebruik</li>
                        </ul>
                    </div>
                    <div class="QRCode_Info_Text QRCode_Info_Text2">
                        <div class="ContactInfo" id="contactInfo-Email">
                            <p class="subtitle">Wat is uw email-adres?</p>
                            <div>
                                <i class="fas fa-at"></i>
                                <input class="Textbox" id="email" type="email" placeholder="Email" [(ngModel)]="email"
                                    (ngModelChange)="onEmailchange($event)">
                            </div>
                        </div>

                        <div class="ContactInfo" id="contactInfo-Phonenumber">
                            <p class="subtitle">Wat is uw telefoonnummer?</p>
                            <div>
                                <i class="fas fa-phone"></i>
                                <input class="Textbox" id="phonenumber" type="tel" placeholder="Phone number"
                                    [(ngModel)]="phonenumber" (ngModelChange)="onPhonenumberChange($event)">
                            </div>
                        </div>

                        <div class="ContactInfo" id="contactInfo-Phonenumber">
                            <p class="subtitle">Opmerkingen?</p>
                            <textarea name="Text1"></textarea>
                        </div>

                    </div>
                </div>
                <div class="QRCode_Buttons">
                    <button class="btn btn-green" (click)="showNextQuestion()">Generieke QR-code</button>
                </div>
            </div>
        </div>
        <my-footer></my-footer>
    </div>
</div>