*:focus {
    outline: none !important;
}

.ui-inputtext.ui-state-focus{
    box-shadow: 0 0 0 transparent !important;
}

@font-face {
    font-family: 'Avenir_Black';
    src: url('./fonts/AvenirLTStd-black.otf');
}

@font-face {
    font-family: 'Avenir_Light';
    src: url('./fonts/AvenirLTStd-Light.otf');
}

@font-face {
    font-family: 'Avenir_Roman';
    src: url('./fonts/AvenirLTStd-Roman.otf');
}

@font-face {
    font-family: 'Avenir_Heavy';
    src: url('./fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
    font-family: 'Avenir_Medium';
    src: url('./fonts/AvenirLTStd-Medium.otf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/roboto-v15-latin-regular.woff") format('woff');
}

html,body,.container, .body-container{
    height: 100%;
}

body{
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 100vh;
}

h1 {
    font-weight: normal;
}

h2{
    margin: 0;
    font-family: 'Avenir_Black';
    font-size:18px;
    color: #2C2B57;
    text-align: center;
    font-weight: normal;
    padding: 25px 0;
    box-sizing: border-box;
}

.text{
    font-family: Avenir_Light;
    font-size: 16px;
    color: #2E2957;
    text-align: center;
}

.text--fat {
    font-family: Avenir_Heavy;
}

.text--danger {
    color: #E6412C;
}

.avenir-light {
    font-family: Avenir_Light;
    color: #2E2957;
}

.font-size-16 {
    font-size: 16px;
}

.date-picker-input{
    width: 320px;
    padding: 8px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:0;
    background: white url(images/calendar.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    font-family: 'Avenir_Heavy';
    font-size:18px;
    color:#2C2B57;
    cursor:pointer;
}

.date-picker-input:focus{
    background-image: url(images/calendar-green.svg);
}

.fat-emphasis{
    font-size:40px;
}

my-collects{
    height: 100%;
}
my-titlebar {
  position: sticky;
  display: block;
  top: 0;
  z-index: 99;
}
my-footer {
  display: table;
  font-family: "Avenir_Light";
  width: 100%;
  background: #D5D4DD;

}
my-footer p{
}
/* loading animation */
.loading-wrapper{
    margin:auto;
    display: flex;
    background:#F5F5F5 ;
    z-index: 1;
    display:none;
    opacity:0;
    transition:visibility 0s linear 0.1s,opacity 0.1s linear;
}

.show-loading-animation{
    display: block;
    opacity:1;
    transition-delay:0s;
}

.windows8 {
    position: relative;
    width: 50px;
    height:50px;
    margin:auto;
}

.windows8 .wBall {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 10px;
    height: 10px;
    background: #41c98e;
    left:0px;
    top:0px;
    border-radius: 10px;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}



@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

/* PRIME NG STYLES */
p-schedule button
{
  background: #1CA96C !important;
}

.fc button {
  border: 1px solid #F5F5F5 !important;
}

.allocation, .allocation-disabled {
  background-color: #41C98E !important;
  background-image: url(images/check.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 90% !important;
    left: 5% !important;
}

.allocation-disabled {
    background-color: #918FA6 !important;
}

.allocation, .money, .allocation-disabled, .allocation-mixed {
  border: 1px solid #FEFEFE !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
}

.allocation-mixed {
    background:-webkit-linear-gradient(-22deg, #41C98E 50%, #41C98E 50%, #F17057 50%);
    width: 90% !important;
    left: 5% !important;
}

.allocation *, .money *, .allocation-disabled, .allocation-mixed * {
  pointer-events: none !important;
}

.money{
  width: 90% !important;
  background-color: #F17057 !important;
  background-image: url(images/question_mark.png);
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Avenir_Black';
  font-size: 16px;
    left: 5% !important;
}

.allocation:hover{
  background-color: #1CA96C !important;
}

.money:hover{
  background-color: #E6412C !important;
}

.allocation-mixed:hover {
    background:-webkit-linear-gradient(-22deg, #1CA96C 50%, #1CA96C 50%, #E6412C 50%) !important;

}

.fc-scroller{
  cursor: cell;
}

.fc-row .fc-axis .ui-widget-header{
  background: #2E2957;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fc-head .fc-head-container .fc-row .fc-day-header{
  background: #F5F5F5;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#2E2957;
  font-family: 'Avenir_Heavy';
}

.fc-time-grid .fc-slats .fc-time{
  background-color: #F5F5F5;
  color:#2E2957;
}

.ui-widget-header .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-state-highlight{
  background-color: white;
  border-width:0px;
  border-color: transparent;
}

.fc-agenda-view .fc-day-grid .fc-row{
  display: none;
}

.fc-agenda-view .fc-body .fc-divider{
  display: none;
}

.fc-row .fc-axis {
  background: #F5F5F5;
}

.fc-toolbar h2{
  padding:5px;
}
.fc-month-view .ui-widget-content .ui-state-highlight{
  color: white;
  background-color: #5A5387;
  border-color: #5A5387;
}

.global-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.global-layout-content {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
    max-width: 100%;
}

.global-layout-main {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

.padding-20 {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

my-navigation {
    flex-shrink: 0;
}


.bottom-flex {
  margin-bottom: auto !important;
}

@media only screen and (max-width : 480px) {
    body {
        height: unset;
        padding-bottom: 52px;
    }
    .global-layout {
        height: 100%;
    }
    .body-container {
        height: unset;
    }
    my-titlebar {
        position: unset;
    }
    .mobile-width-100pct {
        width: 100%;
    }
    .loading-wrapper {
        position: fixed;
        top: calc(50% - 100px);
        left: calc(50% - 50px);
    }
}

.action-button {
    padding: 10px 20px;
    font-size: 18px;
    background:#1DA96C;
    color:white;
    border: 0;
    border-radius: 4px;
}

.action-button__secundary {
    background: #E6412C;
}

.action-button:hover {
    opacity: 0.9;
}