@font-face {
    font-family: 'Avenir_Black';
    src: url('./fonts/AvenirLTStd-black.otf');
}

@font-face {
    font-family: 'Avenir_Light';
    src: url('./fonts/AvenirLTStd-Light.otf');
}

@font-face {
    font-family: 'Avenir_Roman';
    src: url('./fonts/AvenirLTStd-Roman.otf');
}

@font-face {
    font-family: 'Avenir_Heavy';
    src: url('./fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
    font-family: 'Avenir_Medium';
    src: url('./fonts/AvenirLTStd-Medium.otf');
}

body{
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

h1 {
    font-weight: normal;
}

.start-logo{
    display: block;
    max-width: 300px;
    margin: 200px auto;
}

.startscreen-wrapper{
    width: 100%;
}

.date-picker-input{
    width: 380px;
    padding: 8px 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius:0;
    background: white url(images/calendar.svg);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    font-family: 'Avenir_Heavy';
    font-size:18px;
    color:#2C2B57;
    cursor:pointer;
}

.fat-emphasis{
    font-size:40px;
}

