.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
  }

  .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes color {

    100%,
    0% {
      stroke: #1DA96C;
    }

    40% {
      stroke: #4D98CF;
    }

    66% {
      stroke: #B91A24;
    }

    80% {
      stroke: #F4BF63;
    }
  }

  .ie-disclaimer {
    display: none;
    text-align: center;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  .ie-disclaimer p {
    font: 18px Verdana, sans-serif;
  }